#colour-glass-wrapper {
	text-align: center;
	font-family: Arial;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	padding-bottom: 30px;
	background: white;
  }
  
	  #header-colour-glass {
			  display: flex;
			  justify-content: center;
			  margin-top: 0px;
			  align-items: center;
			  position: fixed;
			  padding-top: 30px;
			  background: none;
			  width: 100%;
			  height: 50px;
			  margin-left: -8px;
			  margin-right: auto;
			  z-index: 100;
		  }
		  #icon-link-colour-glass{
			  display: inline-block;
			  text-decoration: none;
			  margin-right: 124px;
				text-decoration: none;
				padding-top: 13px;
				padding-bottom: 10px;
				padding-right: 8px;
				padding-left: 8px;	  	  
				border: solid;
				border-color: rgba(215, 215, 215, 0.7);
				border-radius: 15px;
				border-width: 1px;
				width: 43px;
				opacity: 1;
				  background: rgba(255, 255, 255, 0.8);						
		  }
		  #icon-link-colour-glass:hover,
		  #icon-link-colour-glass:focus {
				transition: 1s;
				cursor: pointer;
				border-color: gray;
				opacity: 1;
			  }		
			  #arells-icon-colour-glass {
				  height: 16px;
			  }	
		  #cart-link-colour-glass{
			  display: inline-block;
			  text-decoration: none;
			  margin-left: 124px;
				text-decoration: none;
				padding-top: 14px;
				padding-bottom: 10px;
				padding-right: 10px;
				padding-left: 10px;	  
				border: solid;
				width: 60px;
				border-color: rgba(215, 215, 215, 0.7);
				border-radius: 15px;
				border-width: 1px;
				opacity: 1;
				  background: rgba(255, 255, 255, 0.8);						
		  }
		  #cart-link-connected-colour-glass{
			  display: inline-block;
			  text-decoration: none;
			  margin-left: 124px;
				text-decoration: none;
				padding-top: 14px;
				padding-bottom: 9.5px;
				padding-right: 10px;
				padding-left: 10px;	  
				border: solid;
				width: 38px;
				border-color: rgba(215, 215, 215, 0.7);
				border-radius: 15px;
				border-width: 1px;
				opacity: 1;
				  background: rgba(255, 255, 255, 0.8);						
		  }
		  #cart-link-colour-glass:hover,
		  #cart-link-colour-glass:focus, 
		  #cart-link-connected-colour-glass:hover,
		  #cart-link-connected-colour-glass:focus {
				transition: 1s;
				cursor: pointer;
				border-color: gray;
				opacity: 1;	
		  }	
		  #cart-link-full-colour-glass{
			  display: inline-block;
			  transition: 1s;
			  text-decoration: none;
			  margin-left: 124px;
				text-decoration: none;
				padding-top: 14px;
				padding-bottom: 9.5px;
				padding-right: 10px;
				padding-left: 10px;	  
				border: solid;
				width: 38px;
				border-color: gray;
				border-radius: 5px;
				border-width: 1px;
				opacity: 1;
				  background: rgba(0, 0, 0, 1);
					box-shadow: 0px 5px 12px -6px black;						
		  }
		  #cart-link-full-colour-glass:hover,
		  #cart-link-full-colour-glass:focus  {
				transition: 1s;
				cursor: pointer;
				opacity: .4;	
		  }					
			  #cart-icon-colour-glass,
			  #cart-icon-full-bcolour-glass {
				  height: 16px;
			  }	
			  
		  #word-logo-colour-glass {
			  margin-top: 37px;
			  width: 110px;	
		  }
		  #slogan-colour-glass {
			  margin-top: 0px;
			  font-size: 8px;
			  letter-spacing: 10px;
			  margin-left: 10px; 
			  font-weight: 600;
			  color: gray;
			  opacity: 1;
			  word-spacing: -3px;
		  }	
		  
		  #wallet-connected-div-colour-glass{
			  display: block;
			  margin-top: 30px;
			  margin-left: auto;
			  margin-right: auto;
		  }
			  #connected-line-colour-glass {
				margin-top: -5px;
				background-color: black;
				border: none;
				height: 4px;
				border-radius: 30px;
				width: 100px;
				opacity: .1;
			  }	
			  #wallet-connected-colour-glass {
				  padding-bottom: 10px;
				  padding-top: 5px;
				  font-size: 9px;
				  letter-spacing: 0px;
				  margin-left: 0px; 
				  font-weight: 800;
				  color: gray;
				  opacity: 1;
			  }							
  
					  
				  
		  
	  #colour-glass {	
		  margin-top: 30px;
		  margin-left: auto;
		  margin-right: auto;
		  border-radius: 15px;
		  align-items: center;
		  overflow: hidden;
		  box-shadow: 0px 5px 20px -6px silver; 
		  width: 400px;
		  height: 100%;
		  padding-top: 40px;
		  padding-left: 40px;
		  padding-right: 40px;
		  padding-bottom: 40px;			
		  text-decoration: none;
		  background: white;
	  }
				  
		  #photo-link-colour-glass {
				  text-decoration: none; 
			  }
		  #photo-colour-glass {
			  object-fit: cover;
			  width: 400px;
			  height: 400px;
			  border:solid;
			  border-width: 1px;
			  border-color: silver;			
		  }
				  #photo-link-colour-glass:hover {
					opacity: .5;
					transition: 1s;
					box-shadow: none;
					cursor: pointer;
				  }
				  #photo-link-colour-glass:focus {
					opacity: .5;
					box-shadow: none;
					cursor: pointer;
			  }
			  
		  #name-colour-glass {
			font-size: 17pt;
			font-weight: 800;
			opacity: 1;
			color: black;	
			margin-top: 25px;
			letter-spacing: -1px;	  
			margin-left: -1px;
			margin-bottom: 25px;
		  }
		  #share-div{
			  border-radius: 5px;
			  align-items: center;
			  box-shadow: 0px 5px 20px -6px silver; 
			  width: 190px;
			  height: 100px;
			  padding-top: 10px;
			  padding-left: 10px;
			  padding-right: 10px;
			  padding-bottom: 10px;			
			  background: white;	
			  margin-left: auto;
			  margin-right: auto;	
			  margin-bottom: 35px;
		  }
			  #share-div-desc{
				color: black;
				font-weight: 600;
				font-size: 11px;	
				letter-spacing: 0px;
				margin-left: 0px;
				opacity: .3;	
				margin-bottom: 5px;
				margin-top: 15px;
			  }				
			  #copy-link-colour-glass {
				text-decoration: none;
				color: white;
				font-weight: 500;
				font-size: 10px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 15px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 2px;
				border-radius: 5px;
				border-width: 0px;
				width: 145px;
				opacity: 1;
				box-shadow: 0px 8px 12px -6px black;  
				  background: black;
				  margin-bottom: 15px;
			  }	  
			  #copy-link-colour-glass:hover,
			  #copy-link-colour-glass:focus {
					opacity: .4;
					transition: 1s;
					cursor: pointer;
			  }		
				  #copy-link-icon-colour-glass{
					  width: 15px;
					  margin-right: 5px;
				  }
  
		  #owned-by-creator-colour-glass, 
		  #owned-by-buyer-colour-glass,
		  #colour-glass-prices-before-colour-glass, 
		  #colour-glass-prices-after-colour-glass,
		  #colour-glass-add-to-cart-colour-glass,
		  #colour-glass-add-to-cart-connected-colour-glass,
		  #colour-glass-added-colour-glass,
		  #colour-glass-collected-colour-glass {
			  display: block;
		  }		
		  
			  #creator-owner-desc-colour-glass {
			  margin-top: 15px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 12px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .4;
				  margin-bottom: 0px;
			  }
			  #creator-owner-link-colour-glass {
			  text-align: center;
				  color: #4d85cf;
				  font-weight: 300;
				  font-size: 15px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .8;
				  text-decoration: none;
			  }
				  #creator-owner-desc-colour-glass:hover,
				  #creator-owner-link-colour-glass:hover,
				  #creator-owner-desc-colour-glass:focus,
				  #creator-owner-link-colour-glass:focus {
					  opacity: .4;
					  transition: 1s;
					  cursor: pointer;
				  }
			  
		  #line-colour-glass {
			margin-top: 30px;
			background-color: black;
			border: none;
			height: 4px;
			border-radius: 30px;
			width: 60%;
			opacity: .1;
		  }					
				  
			  #PAP-colour-glass {
			  margin-top: 15px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 12px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .4;
			  }
			  #PAP-colour-glass-before-colour-glass,
			  #PAP-colour-glass-after-colour-glass {
			  margin-top: -7px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 17px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .5;
			  }
			  #priceline-colour-glass {
			  margin-top: -5px;
			  background-color: black;
			  border: none;
			  height: 4px;
			  border-radius: 30px;
			  width: 60%;
			  opacity: .1;
			  }	
			  #yourprice-colour-glass {
			  margin-top: 30px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 15px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .4;
			  }
			  #price-colour-glass-before-colour-glass,
			  #price-colour-glass-after-colour-glass {
			  margin-top: -10px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 20px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .7;
				  margin-bottom: 28px;
			  }
		  #colour-glass-add-to-cart-colour-glass, 
		  #colour-glass-add-to-cart-connected-colour-glass  {
				text-decoration: none;
				color: white;
				margin-left: auto;
				margin-right: auto;
				font-weight: 500;
				font-size: 11px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 22px;
				padding-left: 25px;	  
				border: none;
				letter-spacing: 3px;
				border-radius: 5px;
				border-width: 0px;
				width: 170px;
				opacity: 1;
				box-shadow: 0px 8px 12px -6px black;  
				  background: black;
			  }	  
		  #colour-glass-add-to-cart-colour-glass:hover, 
		  #colour-glass-add-to-cart-connected-colour-glass:focus {
				opacity: .4;
				transition: 1s;
				cursor: pointer;
		  } 
		  #colour-glass-added-colour-glass {
				text-decoration: none;
				margin-left: auto;
				margin-right: auto;
				color: white;
				font-weight: 500;
				font-size: 11px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 22px;
				padding-left: 25px;	  
				border: none;
				letter-spacing: 3px;
				border-radius: 5px;
				border-width: 0px;
				width: 170px;
				opacity: 1; 
				  background: silver;
			  }	
		  #colour-glass-collected-colour-glass {
				text-decoration: none;
				margin-left: auto;
				margin-right: auto;
				color: white;
				font-weight: 500;
				font-size: 11px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 22px;
				padding-left: 25px;	  
				border: none;
				letter-spacing: 3px;
				border-radius: 5px;
				border-width: 0px;
				width: 170px;
				opacity: 1; 
				  background: silver;
			  }
			  #fingerprints{
				  margin-top: 40px;
				  border-radius: 15px;
				  align-items: center;
				  width: 300px;		
				  background: white;	
				  margin-left: auto;
				  margin-right: auto;				
			  }
				  #digital-fingerprints{
					  color: black;
						font-weight: 200;
						font-size: 11px;	
						letter-spacing: 2px;
						margin-left: 2px;
						opacity: .3;	
						margin-bottom: 10px;
						margin-top: 20px;
				  }
				  #fingerprints-button{
					  text-decoration: none;
					  margin-left: 3px;
					  margin-right: 3px;
						text-decoration: none;
						padding-top: 10px;
						padding-bottom: 7px;
						padding-right: 5px;
						padding-left: 5px;  
						border: solid;
						width: 50px;
						border-color: silver;
						border-radius: 10px;
						border-width: 1px;
						opacity: .4;	
						background: none;				
				  }
				  #fingerprints-button:hover,
				  #fingerprints-button:focus {
					transition: 1s;
					cursor: pointer;
					opacity: 1;	
				  }					
					  #fingerprints-icon{
						  height: 25px;
					  }			
				  
		  #prototype-colour-glass-word {
			  margin-top: 40px;
			  font-size: 8px;
			  letter-spacing: 3px;
			  margin-left: 3px; 
			  font-weight: 500;
			  color: black;
			  opacity: .4;
		  }						
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
			  
  @media screen and (max-width: 1000px) {
	#colour-glass-wrapper {
		  -webkit-text-size-adjust: none;
		}  
		  #header-colour-glass {
				  margin-top: 0px;
				  padding-top: 25px;			
			  }	
			  #icon-link-colour-glass{	
				  margin-right: 90px;
					padding-top: 10px;
					padding-bottom: 7px;
					padding-right: 6px;
					padding-left: 6px;	
					border-radius: 12px;
					width: 30px;		
			  }	
			  #arells-icon-colour-glass {
					  height: 15px;
				  }	    
			  #cart-link-colour-glass{
				  margin-left: 90px;
					padding-top: 10px;
					padding-bottom: 7px;
					padding-right: 8px;
					padding-left: 8px;	
					border-radius: 12px;	
					width: 45px;  					
			  }
			  #cart-link-connected-colour-glass{
				  margin-left: 90px;
					padding-top: 10px;
					padding-bottom: 6.5px;
					padding-right: 8px;
					padding-left: 8px;	
					border-radius: 12px;	
					width: 27px;  					
			  }
			  #cart-link-full-colour-glass{
				  margin-left: 90px;
					padding-top: 10px;
					padding-bottom: 6.5px;
					padding-right: 8px;
					padding-left: 8px;		
					width: 27px;  					
			  }
			  #cart-icon-colour-glass,
			  #cart-icon-full-colour-glass  {
					  height: 15px;
				  }
			  
								
		  #word-logo-colour-glass {
			  margin-top: 35px;
			  width: 90px;	
		  }
		  #slogan-colour-glass {
			  margin-top: -2px;
			  font-size: 7px;
			  letter-spacing: 8px;
			  margin-left: 8px; 
			  word-spacing: -3px;
		  }
		  #wallet-connected-div-colour-glass{
			  margin-top: 25px;
		  }	
			  #connected-line-colour-glass {
				width: 90px;
			  }				
			  #wallet-connected-colour-glass {
				  padding-bottom: 12px;
				  padding-top: 7px;
				  font-size: 8px;
				  letter-spacing: 0px;
				  margin-left: 0px; 
			  }
			  #colour-glass {
				margin-top: 25px;
			}  					  
  }					
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
  @media screen and (max-width: 700px) {
	#colour-glass-wrapper {
		  -webkit-text-size-adjust: none;
		}  	
		
		#colour-glass {
			  width: 300px;
			}  
			#photo-colour-glass {
				width: 300px;
				height: 300px;
			}
		  #name-colour-glass {
			font-size: 13pt;
			font-weight: 800;
			margin-top: 20px;
			letter-spacing: -1px;	  
			margin-left: -1px;
			margin-bottom: 20px;
		  }
		  #share-div{
			  width: 150px;
			  height: 80px;
			  padding-top: 10px;
			  padding-left: 10px;
			  padding-right: 10px;
			  padding-bottom: 10px;	
			  margin-bottom: 30px;		
		  }
			  #share-div-desc{
				font-weight: 600;
				font-size: 9px;	
				letter-spacing: 0px;
				margin-left: 0px;
				margin-bottom: 5px;
				margin-top: 7px;
			  }								
			  #copy-link-colour-glass {
				font-size: 8px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 15px;
				padding-left: 15px;	  
				border: none;
				width: 120px;
				letter-spacing: 2px;
				margin-bottom: 10px;
			  }	  	
				  #copy-link-icon-colour-glass {
					  width: 12px;
				  }
		  #creator-owner-desc-colour-glass {
		  margin-top: 15px;
			  font-weight: 300;
			  font-size: 12px;
			  letter-spacing: 0px;
			  padding-left: 0px;
			  margin-bottom: 0px;
		  }
		  #creator-owner-link-colour-glass {
		  text-align: center;
			  font-weight: 300;
			  font-size: 13px;
			  letter-spacing: 0px;
			  padding-left: 0px;
  
		  }			
		  #line-colour-glass {
		   margin-top: 20px;
		  }			
		  #PAP-colour-glass {
		  margin-top: 15px;
			  font-size: 12px;
		  }
		  #PAP-colour-glass-before-colour-glass,
		  #PAP-colour-glass-after-colour-glass {
		  margin-top: -8px;
			  font-size: 13px;
		  }
		  #priceline-colour-glass {
			margin-top: 0px;
		  }	
		  #yourprice-colour-glass {
		  margin-top: 20px;
			  font-size: 13px;
		  }
		  #price-colour-glass-before-colour-glass,
		  #price-colour-glass-after-colour-glass {
		  margin-top: -10px;
			  font-size: 15px;
			  margin-bottom: 20px;	
		  }			
		  #colour-glass-add-to-cart-colour-glass, 
		  #colour-glass-add-to-cart-connected-colour-glass {
				font-size: 9px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 12px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 1px;
				width: 120px;
			  }	  
		   #colour-glass-added-colour-glass {
				font-size: 9px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 12px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 1px;
				width: 120px;
			  }	
		  #colour-glass-collected-colour-glass {
				font-size: 9px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 12px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 1px;
				width: 120px;
			  }
		  #fingerprints{
			  margin-top: 35px;
			  width: 300px;					
		  }
			  #digital-fingerprints{
					font-size: 9px;	
					letter-spacing: 2px;
					margin-left: 2px;
					margin-bottom: 10px;
			  }
			  #fingerprints-button{
				  margin-left: 5px;
				  margin-right: 5px;
					padding-top: 8px;
					padding-bottom: 5px;
					padding-right: 5px;
					padding-left: 5px;	  
					width: 42px;			
			  }			
				  #fingerprints-icon{
					  height: 20px;
				  }											
  }