 /* modal.css source */
/* The Modal (background) */

#create-art-modal-wrapper {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 190px; /* Location of the box */
  text-align: center;
	font-family: Arial;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255, 0.9); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
}

@media screen and (max-height: 550px) {
  #create-art-modal-wrapper {
    padding-top: 30px; 
  }
}

/* Modal Content */

#create-art-modal-content {
  padding-top: 45px;
  width: 220px;
  height: 195px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  align-items: center;
  position: relative;
  color: silver;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2px;
  margin-left: 2px;  
  margin-left: auto;
  margin-right: auto;  
  box-shadow: 0px 5px 20px -6px silver; 
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.00s;
  animation-name: animatetop;
  animation-duration: 1.00s;
  margin-bottom:50px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {center:0; opacity:0}
  to {center:0; opacity:1}
}

@keyframes animatetop {
  from {center:0; opacity:0}
  to {center:0; opacity:1}
}

#create-art-image{
  opacity: .2;
}

#create-art-words {
  margin-top: 20px;
  margin-bottom: 30px;
}

#list-art-image{
  opacity: .2;
  margin-left: 26px;
}

#buy-art-image{
  opacity: .2;
}

#list-art-words {
  margin-top: 20px;
  margin-bottom: 30px;
}


#create-art-modal-close {
  background-color: rgba(255, 255, 255, 0.1);
  color: silver;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;   
  border: none;
  border-width: 2px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 10px;
  padding: 15.5px;
  letter-spacing: 1px;
  width: 80px; 
  box-shadow: 0px 6px 15px -2px rgb(223, 223, 223);  
}
#create-art-modal-close:hover,
#create-art-modal-close:focus {
  cursor: pointer;
  opacity: .4;
  transition: 1s;
  
}
