 /* modal.css source */
/* The Modal (background) */

#signinup-success-wrapper {
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 190px; /* Location of the box */
    text-align: center;
      font-family: Arial;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 1); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
  }


  #signinup-error-wrapper {
    position: fixed; 
    z-index: 200; 
    padding-top: 190px; 
    text-align: center;
    font-family: Arial;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(192, 192, 192, 0.9);
    background-color: rgba(192, 192, 192, 0.9);/* Black w/ opacity */
  }
  #signinup-password-error-wrapper {
    position: fixed; 
    z-index: 200; 
    padding-top: 150px; 
    text-align: center;
    font-family: Arial;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(192, 192, 192, 0.9);
    background-color: rgba(192, 192, 192, 0.9);/* Black w/ opacity */
  }
  
  @media screen and (max-height: 550px) {
    #signinup-success-wrapper {
      padding-top: 20px; 
    }
    #signinup-error-wrapper {
        padding-top: 20px; 
      }
      #signinup-password-error-wrapper {
        padding-top: 20px; 
      }
  }

        #signinup-password-error-content {
          padding-top: 45px;
          padding-left: 50px;
          padding-right: 50px;
          width: 160px;
          height: 270px;
          background-color: rgba(192, 192, 192, 0.9);
          border-radius: 30px;
          align-items: center;
          position: relative;
          color: gray;
          font-weight: 500;
          margin-left: auto;
          margin-right: auto;  
          box-shadow: 0px 5px 20px -6px rgb(163, 163, 163); 
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 1.00s;
          animation-name: animatetop;
          animation-duration: 1.00s;
          margin-bottom:50px;
        }
        #signinup-error-content {
            padding-top: 45px;
            width: 240px;
            height: 180px;
            background-color: rgba(192, 192, 192, 0.9);
            border-radius: 30px;
            align-items: center;
            position: relative;
            color: gray;
            font-weight: 500;
            margin-left: auto;
            margin-right: auto;  
            box-shadow: 0px 5px 20px -6px rgb(163, 163, 163); 
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 1.00s;
            animation-name: animatetop;
            animation-duration: 1.00s;
            margin-bottom:50px;
          }
          #signinup-combo-error-content {
            padding-top: 45px;
            width: 240px;
            height: 195px;
            background-color: rgba(192, 192, 192, 0.9);
            border-radius: 30px;
            align-items: center;
            position: relative;
            color: gray;
            font-weight: 500;
            margin-left: auto;
            margin-right: auto;  
            box-shadow: 0px 5px 20px -6px rgb(163, 163, 163); 
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 1.00s;
            animation-name: animatetop;
            animation-duration: 1.00s;
            margin-bottom:50px;
          }
          #signinup-success-content {
            padding-top: 45px;
            width: 240px;
            height: 180px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 30px;
            align-items: center;
            position: relative;
            color: gray;
            font-weight: 500;
            margin-left: auto;
            margin-right: auto;  
            box-shadow: 0px 5px 20px -6px rgb(255, 255, 255); 
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 1.00s;
            animation-name: animatetop;
            animation-duration: 1.00s;
            margin-bottom:50px;
          }
        @-webkit-keyframes animatetop {
          from {center:0; opacity:0}
          to {center:0; opacity:1}
        }
  
        @keyframes animatetop {
          from {center:0; opacity:0}
          to {center:0; opacity:1}
        }
  
        #signinup-password-error-image{
          opacity: .3;
        }

        #signinup-error-image{
          opacity: .2;
        }

        #signinup-success-image{
            opacity: .3;
          }




  
        #signinup-success-words {
          margin-top: 15px;
          margin-bottom: 30px;
          font-size: 10px;
          letter-spacing: 2px;
          margin-left: 2px;  
          opacity: .8;
        }
        #signinup-error-words {
            margin-top: 15px;
            margin-bottom: 30px;
            font-size: 12px;
            letter-spacing: 0px;
            margin-left: 0px;  
            opacity: .8;
          }

          #signinup-combo-top-error-words {
            margin-top: 15px;
            font-size: 12px;
            letter-spacing: 0px;
            margin-left: 0px;  
            opacity: .8;
          }
          #signinup-combo-bottom-error-words {
            margin-top: -10px;
            margin-bottom: 30px;
            font-size: 12px;
            letter-spacing: 0px;
            margin-left: 0px;  
            opacity: .8;
          }

          #signinup-password-top-error-words {
            margin-top: 15px;
            font-size: 12px;
            letter-spacing: 0px;
            margin-left: 0px;  
            opacity: 1;
          }
          #signinup-password-error-words {
            margin-top: 0px;
            font-size: 12px;
            letter-spacing: 0px;
            margin-left: 0px;  
            opacity: 1;
          }
          #signinup-password-bottom-error-words {
            margin-top: -10px;
            margin-bottom: 30px;
            font-size: 12px;
            letter-spacing: 0px;
            margin-left: 0px;  
            opacity: 1;
          }
  
  
        #signinup-success-close {
          background-color: rgba(0, 0, 0, 1);
          color: rgb(255, 255, 255);
          margin-top: -10px;
          margin-left: auto;
          margin-right: auto;   
          border: none;
          border-width: 2px;
          font-weight: 500;
          border-radius: 5px;
          font-size: 10px;
          padding: 15.5px;
          letter-spacing: 2px;
          width: 150px; 
          height: 50px;
          box-shadow: 0px 6px 12px -5px rgb(0, 0, 0);  
        }
        #signinup-success-close:hover,
        #signinup-success-close:focus {
          cursor: pointer;
          opacity: .4;
          transition: 1s;
          
        }

        #signinup-password-error-close {
            background-color: rgba(192, 192, 192, 0.4);
            color: rgb(125, 125, 125);
            margin-top: -10px;
            margin-left: auto;
            margin-right: auto;   
            border: none;
            border-width: 2px;
            font-weight: 500;
            border-radius: 10px;
            font-size: 11px;
            padding: 15.5px;
            letter-spacing: 0px;
            width: 80px; 
            box-shadow: 0px 3px 12px -2px rgb(163, 163, 163);  
          }
          #signinup-password-error-close:hover,
          #signinup-password-error-close:focus {
            cursor: pointer;
            opacity: .4;
            transition: 1s;
            
          }
  
          #signinup-error-close {
            background-color: rgba(192, 192, 192, 0.4);
            color: rgb(125, 125, 125);
            margin-top: -10px;
            margin-left: auto;
            margin-right: auto;   
            border: none;
            border-width: 2px;
            font-weight: 500;
            border-radius: 10px;
            font-size: 10px;
            padding: 15.5px;
            letter-spacing: 1px;
            width: 80px; 
            box-shadow: 0px 3px 12px -2px rgb(163, 163, 163);  
          }
          #signinup-error-close:hover,
          #signinup-error-close:focus {
            cursor: pointer;
            opacity: .4;
            transition: 1s;
            
          }