 /* modal.css source */
/* The Modal (background) */

.RWmodal {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 250px; /* Location of the box */
	text-align: center;
	font-family: Arial;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(141, 107, 63, 0.98); /* Fallback color */
  background-color: rgba(141, 107, 63, 0.98); /* Black w/ opacity */
}
.RWmodal-submitted {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 200px; /* Location of the box */
	text-align: center;
	font-family: Arial;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(136, 91, 32, 0.98); /* Fallback color */
  background-color: rgba(141, 107, 63, 0.98); /* Black w/ opacity */
}


@media screen and (max-height: 450px) {
  .RWmodal {
    padding-top: 100px; 
  }
  .RWmodal-submitted {
    padding-top: 50px; 
  }
}

/* Modal Content */

  .RWmodal-content {
    align-items: center;
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 2px;  
    margin-left: auto;
    margin-right: auto;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.00s;
    animation-name: animatetop;
    animation-duration: 1.00s;
  }

  .RWmodal-content-submitted {
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.00s;
    animation-name: animatetop;
    animation-duration: 1.00s;
  }


  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }

  @keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }



    .enter-info {
      color: white;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 2px;
      margin-left: 2px;  
    }


    .submission-successful {
      color: white;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 2px;
      margin-left: 2px;  
    }


      .contact-submit {
        margin-top: -18px;
        align-items: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;  
      }


          .contact-submit-question {
            color: white;
            font-weight: 500;
            font-size: 9.5px;
            letter-spacing: 1px;
            margin-left: 1px; 
            margin-top: 30px;
            margin-bottom: 22px;
            opacity: .8;
          }

            .email-contacts {
              background: none;
              color: rgb(224, 224, 224, 0.3);
              margin-right: 0px;   
              border: solid;
              border-width: 1.5px;
              border-radius: 10px;
              padding-top: 18px;
              padding-right:10px;
              padding-left: 10px;
              padding-bottom: 4px;
              opacity: 1;
              box-shadow: 0px 5px 20px -3px rgb(0, 0, 0, 0.3);
            }
            #email-contact {
              width: 25px; 
              height: 25px;
            }
           
            #twitter-contact {
              width: 25px; 
              height: 25px;
            }
            .twitter-contacts {
              background: none;
              color: black;
              margin-left: 0px;
              border: solid;
              border-width: .5px;
              border-radius: 10px;
              padding-top: 18px;
              padding-right:10px;
              padding-left: 10px;
              padding-bottom: 4px;
              opacity: 1;
              box-shadow: 0px 5px 20px -3px rgb(0, 0, 0, 0.3);
            }


            .contact-title-description {
              margin-top: 100px;
              color: white;
              font-weight: 500;
              font-size: 7px;
              letter-spacing: 2px;
              margin-left: 2px; 
              opacity: .8;
            }
            .contact-coming-soon {
              margin-top: -3px;
              color: white;
              font-weight: 200;
              font-size: 9px;
              letter-spacing: 19.3px;
              margin-left: 17.8px;
              opacity: .8; 
              margin-bottom: 100px;
            }

            

  /* The Close Button */
  .RWclose {
    background: none;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;   
    border: solid;
    border-width: 1px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 10px;
    padding: 15px;
    letter-spacing: 1px;
    width: 60px; 
  }
  .RWclose:hover,
  .RWclose:focus,
  .email-contacts:focus,
  .email-contacts:hover,
  .twitter-contacts:focus,
  .twitter-contacts:hover {
    cursor: pointer;
    opacity: .4;
    transition: 1s;
    
  }
