#overlayy {
	  padding-top: 70px;
	  text-align: center;
	  font-family: Arial;
	  margin-top: 0%;
	  margin-left: 0%;
	  margin-right: 0%;
	  margin-bottom: 0%;
		background: white;	  
  }
  @-webkit-keyframes gradients{
	0% {
	  background-position: 0 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	   background-position: 0% 50%;
	}
  }
  @keyframes gradients{
	0% {
	  background-position: 0 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	   background-position: 0% 50%;
	}
  }
  
	  #arells-iconn {
		  width: 80px;
		  opacity: 1;
	  }
	  #word-logoo {
		  margin-top: 15px;
		  width: 120px;	
	  }
	  #slogann {
		  margin-top: 25px;
		  font-size: 14px;
		  letter-spacing: 9px;
		  margin-left: 9px; 
		  font-weight: 800;
		  color: black;
		  opacity: .2;
		  padding-bottom: -10px;
	  }
	  
	  #black-liner {
		margin-top: 30px;
		background-color: black;
		border: none;
		height: 4px;
		border-radius: 30px;
		width: 255px;
		opacity: .1;
	  }	
	  
	  #descriptioner {
		  margin-top: 30px;
		  font-size: 9px;
		  letter-spacing: 0px;
		  margin-left: 0px;
		  font-weight: 600;
		  opacity: .5;
		  color: black;
		  word-spacing: 2px;
	  }	
	  #coming-soonn {
		  margin-top: 30px;
		  font-size: 11px;
		  margin-left: 10px;
		  letter-spacing: 10px;
		  font-weight: 800;
		  color: black;
		  margin-bottom: 45px;
		  opacity: .2;
	  }
	  
	  #updatess {
		background: black;
		text-decoration: none;
		color: white;
		font-weight: 200;
		font-size: 11px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 32px;
		padding-left: 35px;	  
		border: none;
		letter-spacing: 3px;
		border-radius: 5px;
		border-width: 0px;
		width: 200px;
		opacity: 1;
		box-shadow: 0px 8px 12px -6px black;  
	  }
	  #updatess:hover,
	  #updatess:focus {
		opacity: .4;
		transition: 1s;
		cursor: pointer;
	  }
  
	  #prototype-spacer{
		  margin-top: 60px;
	  }
		  #prototype {
			background: none;
			text-decoration: none;
			color: gray;
			font-weight: 300;
			font-size: 11px;
			padding-top: 17px;
			padding-bottom: 17px;
			padding-right: 33px;
			padding-left: 35px;	  
			border: solid;
			letter-spacing: 1px;
			border-radius: 10px;
			border-width: 1px;
			border-color: rgba(215, 215, 215, 0.7);
			width: 200px;
			opacity: 1;
		  }
		  #prototype:hover,
		  #prototype:focus {
			border-color: gray;
			color: black;
			transition: 1s;
			cursor: pointer;
		  }	
	  
  #footerr {
	  padding-top: 45px;
	  padding-bottom: 80px;	
  	}	
	  
	  #contactt {
		  opacity: .4;
	  }
	  #contactt:hover,
	  #contactt:focus {
			opacity: .2;
			transition: 1s;
			cursor: pointer;
	  }
	  #twitterr {
		  width: 30px;
	  }		
	  
	  
  @media screen and (max-width: 650px) {
	#overlayy {
	  -webkit-text-size-adjust: none;
	}  
	  #arells-iconn {
		  width: 65px;
	  }
  
	  #word-logoo {
		  width: 100px;	
	  }  
		#slogann {
		  font-size: 12px;
		  letter-spacing: 7px;
		  margin-left: 7px;
	  }
	  #black-liner {
		width: 205px;
	  }	
	  
	  #descriptioner {
		  font-size: 8px;
		  word-spacing: 1px;
	  }		
	  #coming-soonn {
		  font-size: 9px;
		  margin-left: 10px;
		  letter-spacing: 10px;	
	  }
	  #updatess {
		font-weight:400;
		font-size: 9px;
		border-width: 1px;	    
	  }	
	  #prototype {
		font-weight:400;
		font-size: 9px;
	  }	
  
	  #twitterr {
		  width: 27px;
	  }	
	  
}	
  
  
  