 /* modal.css source */
/* The Modal (background) */

#login-error-wrapper {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 190px; /* Location of the box */
  text-align: center;
	font-family: Arial;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(181, 134, 73, 0.9);
}

#account-created-wrapper {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 190px; /* Location of the box */
  text-align: center;
	font-family: Arial;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 251, 245, 1);
}


@media screen and (max-height: 550px) {
  #login-error-wrapper {
    padding-top: 30px; 
  }
  #account-created-wrapper {
    padding-top: 30px; 
  }
}

/* Modal Content */

#login-error-content {
  padding-top: 45px;
  width: 230px;
  height: 220px;
  background-color: rgba(180, 134, 73, 0.9); 
  border-radius: 20px;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.00s;
  animation-name: animatetop;
  animation-duration: 1.00s;
  box-shadow: rgba(69, 51, 27, 1);
  margin-bottom: 50px;
}

#account-exists-content {
  padding-top: 45px;
  width: 230px;
  height: 200px;
  background-color: rgba(180, 134, 73, 0.9); 
  border-radius: 20px;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.00s;
  animation-name: animatetop;
  animation-duration: 1.00s;
  box-shadow: rgba(69, 51, 27, 1);
  margin-bottom: 50px;
}

#passwords-error-content {
  padding-top: 45px;
  width: 230px;
  height: 260px;
  background-color: rgba(180, 134, 73, 0.9); 
  border-radius: 20px;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.00s;
  animation-name: animatetop;
  animation-duration: 1.00s;
  box-shadow: rgba(69, 51, 27, 1);
  margin-bottom: 50px;
}

#account-created-content {
  padding-top: 45px;
  width: 270px;
  height: 200px;
  background: none; 
  border-radius: 20px;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.00s;
  animation-name: animatetop;
  animation-duration: 1.00s;
  box-shadow: 0px 1px 5px 0px rgba(204, 116, 0, 0.25);
  margin-bottom: 50px;
}

#account-created-content-concept {
  padding-top: 45px;
  width: 200px;
  height: 140px;
  background: none; 
  border-radius: 20px;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 2.00s;
  animation-name: animatetop;
  animation-duration: 2.00s;
  box-shadow: 0px 1px 5px 0px rgba(204, 116, 0, 0.25);
  margin-bottom: 50px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {center:0; opacity:0}
  to {center:0; opacity:1}
}

@keyframes animatetop {
  from {center:0; opacity:0}
  to {center:0; opacity:1}
}

#login-error-image{
  margin-top: 4px;
  opacity: .6;
}

#signup-error-image{
  margin-top: 4px;
  opacity: .6;
}

#passwords-error-image{
  margin-top: 3px;
  opacity: .6;
}

#account-created-image{
  margin-top: 3px;
  opacity: .4;
}
#account-created-image-concept{
  margin-top: 10px;
  opacity: 1;
}



    #login-error-words {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: 15px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }
    #login-error-wordss {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: -7px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }
    #login-error-wordsss {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: -7px;
      margin-bottom: 30px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }



    #account-exists-words {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: 15px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }
    #account-exists-wordsss {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: -7px;
      margin-bottom: 30px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }



    #password-error-words {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: 15px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }
    #passwords-error-words {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: -7px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }
    #passwordss-error-words {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: -7px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }
    #passwordssss-error-words {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: -7px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }
    #passwordsssss-error-words {
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 11px;
      margin-top: -7px;
      margin-bottom: 30px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .65;
    }



    #account-created-words {
      color: black;
      font-weight: 500;
      font-size: 11px;
      margin-top: 15px;
      letter-spacing: 0px;
      margin-left: 0px; 
      opacity: .4;
      margin-bottom: 30px;
    }





#login-error-close {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;   
  border: none;
  border-width: 2px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 10px;
  padding: 15.5px;
  letter-spacing: 1px;
  width: 80px; 
  box-shadow: 0px 8px 12px -6px rgb(0, 0, 0);  
}

#login-error-close:hover,
#login-error-close:focus {
  cursor: pointer;
  opacity: .4;
  
}

#signup-error-close {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;   
  border: none;
  border-width: 2px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 10px;
  padding: 15.5px;
  letter-spacing: 1px;
  width: 80px; 
  box-shadow: 0px 8px 12px -6px rgb(0, 0, 0);  
}

#signup-error-close:hover,
#signup-error-close:focus {
  cursor: pointer;
  opacity: .4;
  
}

#account-created-close {
  background-color: rgba(204, 116, 0, 0.9);
  color: white;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;   
  border: none;
  border-width: 2px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 10px;
  padding: 15.5px;
  letter-spacing: 1px;
  width: 150px; 
  box-shadow: 0px 8px 12px -6px rgba(204, 116, 0); 
}

#account-created-close:hover,
#account-created-close:focus {
  cursor: pointer;
  opacity: .4;
  
}

  #account-created-close-two {
    background-color: rgba(204, 116, 0, 0.9);
    color: white;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;   
    border: none;
    border-width: 2px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 10px;
    padding: 15.5px;
    letter-spacing: 1px;
    width: 170px; 
    box-shadow: 0px 8px 12px -6px rgba(204, 116, 0); 
  }
  #account-created-close-two-concept {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;   
    border: none;
    border-width: 2px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 10px;
    padding: 15.5px;
    letter-spacing: 1px;
    width: 100px; 
    box-shadow: 0px 8px 12px -6px rgb(0, 0, 0); 
  }
  #account-created-close-two-concept-one {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;   
    border: none;
    border-width: 2px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 10px;
    padding: 15.5px;
    letter-spacing: 1px;
    width: 160px; 
    box-shadow: 0px 8px 12px -6px rgb(0, 0, 0); 
  }

  #account-created-close:hover,
  #account-created-close:focus,
  #account-created-close-two:hover,
  #account-created-close-two:focus
   {
    cursor: pointer;
    opacity: .4;
    
  }
  #account-created-close-two-concept:hover,
  #account-created-close-two-concept:focus,
  #account-created-close-two-concept-one:hover,
  #account-created-close-two-concept-one:focus
   {
    cursor: pointer;
    opacity: .4;
    
  }

