body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding-top: 0px;
  padding-bottom: 30px;
  background: white;
}

	#header {
			display: flex;
			justify-content: center;
			margin-top: 0px;
			align-items: center;
			position: static;
			padding-top: 30px;
			background: none;
			width: 100%;
			height: 50px;
			margin-left: auto;
			margin-right: auto;
			z-index: 100;
			margin-bottom: -80px;
		}
		#icon-link{
			display: inline-block;
			text-decoration: none;
			margin-right: 128px;
			  text-decoration: none;
			  padding-top: 13px;
			  padding-bottom: 10px;
			  padding-right: 8px;
			  padding-left: 8px;	  	  
			  border: none;
			  border-color: gray;
			  border-radius: 15px;
			  border-width: 1px;
			  width: 43px;
			  opacity: .1;
				background: rgba(255, 255, 255, 0.8);						
		}	
			#arells-icon {
				height: 16px;
			}	
		#cart-link{
			display: inline-block;
			text-decoration: none;
			margin-left: 124px;
			  text-decoration: none;
			  padding-top: 12px;
			  padding-bottom: 9px;
			  padding-right: 10px;
			  padding-left: 10px;	  
			  border: none;
			  width: 60px;
			  border-color: gray;
			  border-radius: 15px;
			  border-width: 1px;
			  opacity: .1;
				background: rgba(255, 255, 255, 0.8);						
		}	
			#cart-icon {
				height: 18px;
			}		
			
		#word-logo {
			margin-top: 37px;
			width: 110px;	
		}
		#slogan {
			margin-top: 0px;
			font-size: 8px;
			letter-spacing: 10px;
			margin-left: 10px; 
			font-weight: 600;
			color: gray;
			opacity: 1;
			word-spacing: -3px;
		}	
		
		#wallet-connected-div{
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
			#connected-line {
			  margin-top: -5px;
			  background-color: black;
			  border: none;
			  height: 4px;
			  border-radius: 30px;
			  width: 100px;
			  opacity: .1;
			}	
			#wallet-connected {
				padding-bottom: 10px;
				padding-top: 5px;
				font-size: 9px;
				letter-spacing: 0px;
				margin-left: 0px; 
				font-weight: 800;
				color: gray;
				opacity: 1;
			}
		#royalty {
		text-align: center;
		margin-top: 30px;
			color: black;
			font-weight: 300;
			font-size: 12px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .4;
		}
		#royalty-price {
		text-align: center;
		margin-top: -7px;
			color: black;
			font-weight: 300;
			font-size: 17px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .5;
		}
			#royalty-price-value{
				margin-left: -5px;
			}						
		#fee {
		text-align: center;
		margin-top: 20px;
			color: black;
			font-weight: 300;
			font-size: 12px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .4;
		}
		#fee-price {
		text-align: center;
		margin-top: -10px;
			color: black;
			font-weight: 300;
			font-size: 17px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .5;
		}	
			#fee-price-value{
				margin-left: -4px;
			}	
		#total {
			text-align: center;
			color: black;
			font-weight: 300;
			font-size: 15px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .4;
		}	
		#total-price {
		margin-top: -10px;
		text-align: center;
			color: black;
			font-weight: 300;
			font-size: 20px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .7;
			margin-bottom: 30px;
		}
			#total-price-value{
				margin-left: -6px;
			}								
		#purchase {
		  text-decoration: none;
		  color: white;
		  font-weight: 200;
		  font-size: 11px;
		  letter-spacing: 1px;
		  padding-top: 20px;
		  padding-bottom: 20px;
		  padding-right: 20px;
		  padding-left: 21px;	  
		  border-radius: 5px;
		  border-width: 0px;
		  width: 200px;
		  opacity: 1;
		  box-shadow: 0px 8px 12px -6px black;  
			background: black;
		}	  
		#purchase:hover,
		#purchase:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
		}		
		#profileline {
		margin-top: 30px;
		  background-color: black;
		  border: none;
		  height: 4px;
		  border-radius: 30px;
		  width: 480px;
		  opacity: .1;
		}
		
		
		
		
		#no-art{
			margin-top: 60px;
			width: 500px;
			  font-size: 12pt;
			  font-weight: 800;
			  opacity: .3;
			  color: black;	
			  letter-spacing: 0px;	 
			  margin-left: 0px; 
			  margin-right: auto;
			  margin-left: auto;			
		}	
		#cart-icon-collected{
			height: 25px;
			margin-left: 10px;
			opacity: 1;
		}	
					
			
	
		#container {
			margin-top: 30px;
			  width: 900px;
			  margin-left: auto;
			  margin-right: auto;
			  margin-bottom: 60px;		
		}
			
			#blue-orange-cart, #beach-houses, #colour-glass,
			#layers, #succinct-drop, #paint-rain{
				margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 10px;
			    align-items: center;
				border-radius: 15px;
				overflow: hidden;
				box-shadow: 0px 5px 20px -6px silver; 
				width: 480px;
				height: 160px;
				padding-top: 30px;
				padding-left: 40px;
				padding-right: 40px;
				padding-bottom: 30px;			
				text-decoration: none;
				background: white;
			     
			}
			
			#photo-link {
				display: inline-block;
				text-decoration: none; 
			}
				#photo {
					object-fit: cover;
					width: 150px;
					height: 150px;
		  			border-radius: 10px;		
		  			box-shadow: 0px 8px 12px -6px black; 
				}
		
				#photo-link:hover {
				  opacity: .5;
				  transition: 1s;
				  box-shadow: none;
				  cursor: pointer;
				}
				#photo-link:focus {
				  opacity: .5;
				  box-shadow: none;
				  cursor: pointer;
			}		
			#prices {
				display: inline-block;
				margin-left: 20px;
				margin-right: 20px;
				text-align: left;
				width: 400px;
			}	
			
				#PAP {
				width: 70px;
				margin-top: 30px;
					color: black;
					font-weight: 300;
					font-size: 12px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .4;
				}
				#PAP-blue-orange-before, #PAP-beach-houses-before, #PAP-colour-glass-before,
				#PAP-layers-before, #PAP-succinct-drop-before, #PAP-paint-rain-before {
				margin-top: -7px;
					color: black;
					font-weight: 300;
					font-size: 17px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .5;
				}
				#priceline {
				  margin-top: -5px;
				  background-color: black;
				  border: none;
				  height: 4px;
				  border-radius: 30px;
				  width: 100%;
				  opacity: .04;
				}	
				#yourprice {
				margin-top: 13px;
					color: black;
					font-weight: 300;
					font-size: 15px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .4;
				}
				#price-blue-orange-before, #price-beach-houses-before, #price-colour-glass-before,
				#price-layers-before, #price-succinct-drop-before, #price-paint-rain-before {
				margin-top: -10px;
					color: black;
					font-weight: 300;
					font-size: 20px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .7;
					margin-bottom: 28px;
				}
			#remove {
				display: inline-block;
				text-decoration: none;
				  padding-top: 10px;
				  padding-bottom: 10px;
				  padding-right: 10px;
				  padding-left: 10px;	  
				  border: none;
				  border-radius: 10px;
				  width: 40px;
				  height: 40px;
				  opacity: .5;
				  box-shadow: 0px 2px 10px -3px gray;  
					background: white;
				}	  
			#remove:hover,
			#remove:focus {
				  opacity: 1;
				  transition: 1s;
				  cursor: pointer;
			}		
				#del {
					height: 20px;
					opacity: 1;
				}
				
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
@media screen and (max-width: 1000px) {
	  body {
	    -webkit-text-size-adjust: none;
	  }  
		#header {
				margin-top: 0px;
				padding-top: 25px;	
				margin-bottom: -75px;		
			}	
			#icon-link{	
				margin-right: 90px;
				  padding-top: 10px;
				  padding-bottom: 7px;
				  padding-right: 6px;
				  padding-left: 6px;	
				  border-radius: 12px;
				  width: 30px;		
			}	
			#arells-icon {
					height: 15px;
				}	    
			#cart-link{
				margin-left: 96px;
				  padding-top: 10px;
				  padding-bottom: 7px;
				  padding-right: 8px;
				  padding-left: 8px;	
				  border-radius: 12px;	
				  width: 45px;  					
			}
			#cart-icon {
					height: 15px;
				}
			
			  				
		#word-logo {
			margin-top: 35px;
			width: 90px;	
		}
		#slogan {
			margin-top: -2px;
			font-size: 7px;
			letter-spacing: 8px;
			margin-left: 8px; 
			word-spacing: -3px;
		}
		#wallet-connected-div{
			margin-top: 25px;
			margin-bottom: 20px;
		}	
			#connected-line {
			  width: 90px;
			}				
			#wallet-connected {
				padding-bottom: 12px;
				padding-top: 7px;
				font-size: 8px;
				letter-spacing: 0px;
				margin-left: 0px; 
			}
		#royalty {
			margin-top: 20px;
			font-size: 11px;
		}
		#royalty-price {
			margin-top: -10px;
			font-size: 12px;
		}
			#royalty-price-value{
				margin-left: -4px;
			}	
		#fee {
			margin-top: 10px;
			font-size: 11px;
		}
		#fee-price {
			margin-top: -10px;
			font-size: 12px;
			margin-bottom: 10px;	
		}	
			#fee-price-value{
				margin-left: -3px;
			}	
		#total{
			font-size: 13px;
		}  
		#total-price {
			margin-top: -10px;
			font-size: 15px;
			margin-bottom: 20px;
		}	
			#total-price-value{
				margin-left: -5px;
			}	
		#purchase {
			  font-weight: 200;
			  font-size: 9px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 20px;
			  padding-left: 21px;	  
			  border: none;
			  letter-spacing: 1px;
			  width: 170px;
		}	  	
		#profileline {
		margin-top: 25px;
		  width: 400px;
		}	
		
		#no-art{
			margin-top: 50px;
			width: 300px;
			font-size: 13px;
		}	
		#cart-icon-collected{
			height: 20px;
			margin-left: 5px;
		}		
						
				
		#container {
			  width: 660px;	
		}
			
			#blue-orange-cart, #beach-houses, #colour-glass,
			#layers, #succinct-drop, #paint-rain{
				margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 10px;
			    align-items: center;
				border-radius: 15px;
				overflow: hidden;
				box-shadow: 0px 5px 20px -6px silver; 
				width: 400px;
				height: 90px;
				padding-top: 35px;
				padding-left: 35px;
				padding-right: 35px;
				padding-bottom: 35px;			
				text-decoration: none;
				background: white;
			     
			}
			
				#photo {
					width: 100px;
					height: 100px;
				}
		
			#prices {
				margin-left: 20px;
				margin-right: 20px;
				width: 300px;
			}	
			
				#PAP {
					width: 70px;
					margin-top: 20px;
					font-size: 12px;
				}
				#PAP-blue-orange-before, #PAP-beach-houses-before, #PAP-colour-glass-before,
				#PAP-layers-before, #PAP-succinct-drop-before, #PAP-paint-rain-before {
					margin-top: -8px;
					font-size: 12px;
				}
				#priceline {
				  margin-top: -2px;
				  width: 100%;
				}	
				#yourprice {
					margin-top: 10px;
					font-size: 13px;
				}
				#price-blue-orange-before, #price-beach-houses-before, #price-colour-glass-before,
				#price-layers-before, #price-succinct-drop-before, #price-paint-rain-before {
					margin-top: -10px;
					font-size: 13px;
					margin-bottom: 20px;	
				}	
				#remove {
					display: inline-block;
					  padding-top: 6px;
					  padding-bottom: 3px;
					  border-radius: 7px;
					  padding-right: 6px;
					  padding-left: 6px;	  
					  width: 30px;
					  height: 30px;
					}	  	
						
					#del{
						height: 15px;
					}			
		
				  				  
}					
		
				
				
				
				
				
				
				
				
				
					
				
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
@media screen and (max-width: 700px) {
	  body {
	    -webkit-text-size-adjust: none;
	  }  		
		  #container {
		    width: 440px;
		  }  
		  
		#profileline {
		  width: 300px;
		}	
		
			
			#blue-orange, #beach-houses, #colour-glass,
			#layers, #succinct-drop, #paint-rain{
				width: 300px;
				}
			    		  
}