#overlayy {
	text-align: center;
	font-family: Arial;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	border-radius: 30px;
	padding-bottom: 90px;
	background: #ffffff;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1.00s;
	animation-name: animatetop;
	animation-duration: 1.00s;
}

  
	  #arells-iconn {
		margin-top: 60px;
		  width: 80px;
		  height: 85px;
		  opacity: 1;
		  -webkit-animation-name: animatetop;
		  -webkit-animation-duration: 1.00s;
		  animation-name: animatetop;
		  animation-duration: 1.00s;
		}
		/* Add Animation */
		@-webkit-keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
		
		@keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
	  #word-logoo {
		  margin-top: 80px;
		  width: 105px;	
		  height: 33px;
		  -webkit-animation-name: animatetop;
		  -webkit-animation-duration: 1.00s;
		  animation-name: animatetop;
		  animation-duration: 1.00s;
		}
		/* Add Animation */
		@-webkit-keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
		
		@keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
	

	  
		#descriptioner-wrapper {
			margin-top: 3px;
			margin-left: auto;
			margin-right: auto;
			font-size: 8px;
			font-weight: 200;
			padding-bottom: 5px;
		}
			#descriptioner {
				letter-spacing: 0px;
				margin-left: -2px; 
				opacity: 1;
				color: gray;
				word-spacing: 0px;
				display: inline-block;
			}	

			#descriptioner {
				max-width: 520px;
			}

			.home-divider {
				width: 72%;
				max-width: 620px;
				height: 1px;
				background: rgba(0, 0, 0, 0.12);
				margin: 12px auto;
			}

			.home-rainbow {
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.4px;
				margin: 6px auto 10px;
				width: fit-content;
				background: repeating-linear-gradient(
					90deg,
					#ff0000 0%,
					#ff7a00 16%,
					#ffd500 32%,
					#00c853 48%,
					#0091ea 64%,
					#7c4dff 80%,
					#d500f9 96%,
					#ff0000 112%
				);
				background-size: 400% 100%;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				animation: rainbowShift 8s linear infinite;
			}

			@keyframes rainbowShift {
				0% {
					background-position: 0% 50%;
				}
				100% {
					background-position: 100% 50%;
				}
			}

			.home-assets-list {
				width: min(920px, 90%);
				margin: 18px auto 0;
				display: flex;
				flex-direction: column;
				gap: 14px;
			}

			.home-assets-header-row {
				display: grid;
				grid-template-columns: 42px repeat(6, minmax(0, 1fr));
				align-items: center;
				font-weight: 600;
				font-size: 12px;
				letter-spacing: 0.2px;
			}

			.home-assets-cell {
				padding: 10px 10px;
				text-align: center;
				font-size: 12px;
				color: #222;
			}

			.home-assets-index {
				color: #666;
			}

			.home-assets-button {
				background: transparent;
				border: none;
				padding: 0;
				margin: 0;
				font: inherit;
				cursor: pointer;
				color: #222;
			}

			.home-assets-button:hover,
			.home-assets-button:focus {
				color: #cc7400;
			}

			.home-asset-card {
				display: grid;
				grid-template-columns: 42px repeat(6, minmax(0, 1fr));
				align-items: center;
				background: #ffffff;
				border-radius: 14px;
				padding: 8px 0;
				box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
				transition: transform 0.2s ease, box-shadow 0.2s ease;
			}

			.home-asset-card:hover {
				transform: translateY(-2px);
				box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
			}

			.home-asset-bitcoin {
				box-shadow: 0 10px 24px rgba(248, 141, 0, 0.35);
			}

			.home-asset-ethereum {
				box-shadow: 0 10px 24px rgba(0, 229, 255, 0.35);
			}

			.home-assets-link {
				display: grid;
				grid-template-columns: repeat(6, minmax(0, 1fr));
				text-decoration: none;
				color: inherit;
				width: 100%;
				grid-column: 2 / -1;
			}

			.home-assets-link:hover .home-assets-cell {
				background: rgba(0, 0, 0, 0.04);
			}

			#ada-description {
				margin-left: 3px; 
				opacity: 1;
				color: gray;
				display: inline-block;
			}
			#ada-descriptioner {
				margin-left: 3px; 
				opacity: 1;
				color: gray;
				display: inline-block;
			}


			#coming-soon {
				margin-top: 25px;
				font-size: 8px;
				font-weight: 600;
				letter-spacing: -.1px;
				margin-left: -.1px; 
				opacity: 1;
				color: black;
				word-spacing: 2px;
				display: inline-block;
			}	

	


	#login {
	margin-top: 10px;
	  background: rgba(204, 116, 0);
	  text-decoration: none;
	  color: white;
	  font-weight: 500;
	  font-size: 12px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  padding-right: 32px;
	  padding-left: 34px;	  
	  border: solid;
	  letter-spacing: 2px;
	  border-radius: 5px;
	  border-width: 0px;
	  width: 280px;
	  opacity: 1;
	  box-shadow: 0px 8px 12px -6px rgba(204, 116, 0);  
	  -webkit-animation-name: animatetop;
	  -webkit-animation-duration: 1.00s;
	  animation-name: animatetop;
	  animation-duration: 1.00s;			  
	}
	#login:hover,
	#login:focus {
	  opacity: .4;
	  transition: 1s;
	  cursor: pointer;
	}   


	#buy-info-wrapping {
		margin-left:auto;
		margin-right: auto;
		margin-top: 20px;
		font-size: 8px;
		color: gray;
		font-weight: 200;
		opacity: 1;
	}
		#buy-info-home {
			color: black;
			opacity: 1;
			letter-spacing: 0px;
			margin-left: 0px;
			display: inline-block;

		}

		#buy-info-homer {
			color: black;
			opacity: 1;
			letter-spacing: 0px;
			margin-left: 0px;
			display: inline-block;

		}

	  	
	  







	@media screen and (max-height: 600px) {
		#connected-spacing {
			padding-top: 0px;
		}
		#word-logoo {
			margin-top: 40px;
		}  
	}













	  
  @media screen and (max-width: 650px) {
	#overlayy {
	  -webkit-text-size-adjust: none;
	}  
	  #arells-iconn {
		margin-top: 60px;
		  width: 65px;
		  height: 70px;
	  }
  
	  #word-logoo {
		  width: 95px;	
		  height: 30px;
	  }  

	  
	  #descriptioner-wrapper {
		font-size: 7.3px;
	  }

		#ada-description {
			opacity: 1;
			display: inline-block;
		}
		#ada-descriptioner {
			opacity: 1;
			display: inline-block;
		}


	#buy-info-wrapping {
		font-size: 7px;
	}

	#buy-info-homer {
		margin-left: 4px;
	}

	#login {
		width: 240px;
		font-size: 11px; 			  
		}

	.home-assets-list {
		width: 94%;
	}

	.home-assets-header-row,
	.home-asset-card {
		grid-template-columns: 32px repeat(6, minmax(0, 1fr));
	}

	.home-assets-cell {
		padding: 10px 6px;
		font-size: 10px;
	}

	.home-rainbow {
		font-size: 11px;
	}

	  
	}	
  
  
  

  
  
  
