#overlayy {
	text-align: center;
	font-family: Arial;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	padding-top: 0px;
	border-radius: 0px;
	padding-bottom: 120px;
	background: rgb(255, 255, 255);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1.00s;
	animation-name: animatetop;
	animation-duration: 1.00s;
}
	#connected-spacing {
		padding-top: 70px;
	}
  
	  #arells-iconn {
		margin-top: 70px;
		  width: 80px;
		  height: 85px;
		  opacity: 1;
		  -webkit-animation-name: animatetop;
		  -webkit-animation-duration: 1.00s;
		  animation-name: animatetop;
		  animation-duration: 1.00s;
		}
		/* Add Animation */
		@-webkit-keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
		
		@keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
	  #word-logoo {
		  margin-top: 10px;
		  width: 120px;	
		  height: 37px;
		  -webkit-animation-name: animatetop;
		  -webkit-animation-duration: 1.00s;
		  animation-name: animatetop;
		  animation-duration: 1.00s;
		}
		/* Add Animation */
		@-webkit-keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
		
		@keyframes animatetop {
		  from {center:0; opacity:0}
		  to {center:0; opacity:1}
		}
	
	  
	  #descriptioner {
		  margin-top: 25px;
		  font-size: 8px;
		  letter-spacing: 1px;
		  margin-left: 1px; 
		  font-weight: 600;
		  opacity: .7;
		  color: black;
		  word-spacing: 0px;
	  }	

	  #black-liner {
		margin-top: 10px;
		background-color: black;
		border: none;
		height: 2px;
		border-radius: 30px;
		width: 250px;
		opacity: .1;
	  }	

	  #ada-description {
		margin-top: 10px;
		font-size: 8px;
		letter-spacing: 6px;
		margin-left: 6px; 
		word-spacing: 2px;
		font-weight: 500;
		opacity: .5;
		color: black;
	}

	#black-liner-bottom-home {
		margin-top: 10px;
		background-color: black;
		border: none;
		height: 2px;
		border-radius: 30px;
		width: 350px;
		opacity: .1;
	  }	

	  #bear-markets-description {
		margin-top: 20px;
		font-size: 7px;
		letter-spacing: 9px;
		margin-left: 9px; 
		font-weight: 600;
		opacity: .3;
		color: black;
		word-spacing: 0px;
	}
	  #updatess {
		margin-top: 20px;
		background: black;
		text-decoration: none;
		color: white;
		font-weight: 200;
		font-size: 11px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 22px;
		padding-left: 25px;	  
		border: none;
		letter-spacing: 3px;
		border-radius: 5px;
		border-width: 0px;
		width: 215px;
		opacity: 1;
		box-shadow: 0px 8px 12px -6px black;  
	  }


	#connecting-wallet-wrapper {
		margin-left: auto;
		margin-right: auto;			
		margin-top: 0px;
		border-radius: 20px;
		align-items: center;
		margin-bottom: 0px;
		overflow: hidden;
		box-shadow: 0px 10px 9px -6px rgb(200, 200, 200); 
		width: 250px;
		height: 90px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 60px;			
		text-decoration: none;
		background: white;
	}
	#ada-connected {
		margin-top: 5px;
		font-size: 8px;
		letter-spacing: 3.3px;
		margin-left: 3.3px; 
		word-spacing: 0px;
		font-weight: 500;
		opacity: .3;
		color: black;
	}
	#updatess-connected {
		margin-top: 20px;
		background: black;
		text-decoration: none;
		color: white;
		font-weight: 200;
		font-size: 11px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 22px;
		padding-left: 25px;	  
		border: none;
		letter-spacing: 3px;
		border-radius: 5px;
		border-width: 0px;
		width: 180px;
		opacity: 1;
		box-shadow: 0px 8px 12px -6px black;  
	  }
		#updatess:hover,
		#updatess:focus,
		#updatess-connected:hover,
		#updatess-connected:focus {
			opacity: .4;
			transition: 1s;
			cursor: pointer;
		}
		#wallet-needed-words{
			margin-top: 10px;
			font-size: 9px;
			letter-spacing: 0px;
			margin-left: 0px; 
			font-weight: 500;
			opacity: 1;
			color: black;
			word-spacing: 0px;			
		}
  
	  #prototype-spacer{
		  margin-top: 60px;
		  margin-bottom: 100px;
	  }
		  #prototype {
			background: none;
			text-decoration: none;
			color: gray;
			font-weight: 300;
			font-size: 11px;
			padding-top: 17px;
			padding-bottom: 17px;
			padding-right: 33px;
			padding-left: 35px;	  
			border: solid;
			letter-spacing: 1px;
			border-radius: 10px;
			border-width: 1px;
			border-color: rgba(215, 215, 215, 0.7);
			width: 200px;
			opacity: 1;
		  }
		  #prototype:hover,
		  #prototype:focus {
			border-color: gray;
			color: black;
			transition: 1s;
			cursor: pointer;
		  }	
		  #discord-wrapper{
			text-decoration: none;
			margin-left: auto;
			margin-right: auto;
			  text-decoration: none;
			  padding-top: 25px;
			  padding-bottom: 4px;
			  padding-right: 10px;
			  padding-left: 10px;	  
			  border: solid;
			  width: 50px;
			  height: 50px;
			  border-color: rgb(211, 211, 211);
			  border-radius: 12px;
			  border-width: 1px;
			  opacity: 1;
				background: white;	
				box-shadow: 0px 3px 3px -3px rgb(175, 175, 175); 					
			}
			#discord-wrapper:hover,
			#discord-wrapper:focus {
				transition: 1s;
				cursor: pointer;
				border-color: gray;
				opacity: .4;	
			}
				#discord-icon {
					margin-top: 40px;
					opacity: .9;
					width: 30px;
            		height: 30px;
				}
	  	
	  

	@media screen and (max-height: 600px) {
		#connected-spacing {
			padding-top: 0px;
		}
		#arells-iconn {
			margin-top: 100px;
		}  
	}
	  
  @media screen and (max-width: 650px) {
	#overlayy {
	  -webkit-text-size-adjust: none;
	}  
	  #arells-iconn {
		  width: 65px;
		  height: 70px;
	  }
  
	  #word-logoo {
		  width: 100px;	
		  height: 32px;
	  }  

	  
	  #descriptioner {
		  font-size: 7.5px;
		  letter-spacing: .5px;
		  margin-left: .5px; 
	  }	

	  #black-liner {
		width: 230px;
	  }	

	  #ada-description {
		font-size: 7px;
		letter-spacing: 5px;
		margin-left: 5px; 
		word-spacing: 2px;
	}
	#black-liner-bottom-home {
		width: 300px;
		opacity: .1;
	  }	
	  #bear-markets-description {
		font-size: 6px;
		letter-spacing: 8px;
		margin-left: 8px; 
	}	


	
	  #updatess {
		width: 185px;
		font-weight:400;
		font-size: 9px;
		border-width: 1px;	   
		padding-right: 22px;
		padding-left: 25px;	 
	  }	
	  #wallet-needed-words{
		margin-top: 10px;
		font-size: 8px;
		letter-spacing: 0px;
		margin-left: 0px; 		
	}
	  #prototype {
		font-weight:400;
		font-size: 9px;
	  }	

	  #connecting-wallet-wrapper {	
		margin-top: 0px;
		margin-bottom: -15px;
		width: 200px;
		height: 85px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 40px;			
	}
	  #ada-connected {
		margin-top: -3px;
		font-size: 7px;
		letter-spacing: 2.5px;
		margin-left: 2.5px; 
		}
		#updatess-connected {
			margin-top: 15px;
			width: 155px;
			font-weight:400;
			font-size: 9px;
			border-width: 1px;	   
			padding-right: 22px;
			padding-left: 25px;	 
			}
	  
	  #discord-wrapper{
		  padding-top: 13px;
		  padding-bottom: 3px;
		  padding-right: 8px;
		  padding-left: 8px;	
		  border-radius: 10px;
		  box-shadow: 0px 3px 3px -3px rgb(175, 175, 175);  				
		}

	  #discord-icon {
		margin-top: 40px;
		width: 20px;
		height: 20px;
	  }
	  
	}	
  
  
  