

.loader {
  position: fixed;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 201; /* ensure it's on top of all other elements */
  border: 10px solid rgba(140, 140, 140, 0.1);
  border-radius: 50%;
  border-top: 10px solid rgb(0, 0, 0, 0.2);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  left: -18px;
  margin-top: -2px;
  margin-left: 50%;
  margin-right: 50%;
}

  @-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }