#spinnerBackground {
    position: fixed; /* Stay in place */
    text-align: center;
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(255, 255, 255, 0.985); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.985); /* Black w/ opacity */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.25s;
    animation-name: animatetop;
    animation-duration: 0.25s;
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }

  #arells-loader-icon {
    margin-top: 150px;
    opacity: .15;
  }

  #wallet-loader-icon {
    margin-top: 220px;
    opacity: .8;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.00s;
    animation-name: animatetop;
    animation-duration: 1.00s;
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }