#asset-wrapper {
	padding-top: 10px;
	padding-bottom: 30px;
	  text-align: center;
	  font-family: Arial;
	  margin-top: 0%;
	  margin-left: 0%;
	  margin-right: 0%;
	  margin-bottom: 0%;
		background: white;	  
  }
  
	  #header-blue-orange {
			  display: flex;
			  justify-content: center;
			  margin-top: 0px;
			  align-items: center;
			  position: fixed;
			  padding-top: 30px;
			  background: none;
			  width: 100%;
			  height: 50px;
			  margin-left: -8px;
			  margin-right: auto;
			  z-index: 100;
		  }
		  #icon-link-blue-orange{
			  display: inline-block;
			  text-decoration: none;
			  margin-right: 124px;
				text-decoration: none;
				padding-top: 13px;
				padding-bottom: 10px;
				padding-right: 8px;
				padding-left: 8px;	  	  
				border: solid;
				border-color: rgba(215, 215, 215, 0.7);
				border-radius: 15px;
				border-width: 1px;
				width: 43px;
				opacity: 1;
				  background: rgba(255, 255, 255, 0.8);						
		  }
		  #icon-link-blue-orange:hover,
		  #icon-link-blue-orange:focus {
				transition: 1s;
				cursor: pointer;
				border-color: gray;
				opacity: 1;
			  }		
			  #arells-icon-blue-orange {
				  height: 16px;
				  width: 15px;
				  -webkit-animation-name: animatetop;
				  -webkit-animation-duration: 1.00s;
				  animation-name: animatetop;
				  animation-duration: 1.00s;
				}
				/* Add Animation */
				@-webkit-keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
				}
				
				@keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
				}
		  #cart-link-blue-orange{
			  display: inline-block;
			  text-decoration: none;
			  margin-left: 124px;
				text-decoration: none;
				padding-top: 14px;
				padding-bottom: 10px;
				padding-right: 10px;
				padding-left: 10px;	  
				border: solid;
				width: 60px;
				border-color: rgba(215, 215, 215, 0.7);
				border-radius: 15px;
				border-width: 1px;
				opacity: 1;
				  background: rgba(255, 255, 255, 0.8);						
		  }
		  #cart-link-connected-blue-orange{
			  display: inline-block;
			  text-decoration: none;
			  margin-left: 124px;
				text-decoration: none;
				padding-top: 14px;
				padding-bottom: 9.5px;
				padding-right: 10px;
				padding-left: 10px;	  
				border: solid;
				width: 38px;
				border-color: rgba(215, 215, 215, 0.7);
				border-radius: 15px;
				border-width: 1px;
				opacity: 1;
				  background: rgba(255, 255, 255, 0.8);						
		  }
		  #cart-link-blue-orange:hover,
		  #cart-link-blue-orange:focus, 
		  #cart-link-connected-blue-orange:hover,
		  #cart-link-connected-blue-orange:focus {
				transition: 1s;
				cursor: pointer;
				border-color: gray;
				opacity: 1;	
		  }	
		  #cart-link-full-blue-orange{
			  display: inline-block;
			  transition: 1s;
			  text-decoration: none;
			  margin-left: 124px;
				text-decoration: none;
				padding-top: 14px;
				padding-bottom: 9.5px;
				padding-right: 10px;
				padding-left: 10px;	  
				border: solid;
				width: 38px;
				border-color: gray;
				border-radius: 5px;
				border-width: 1px;
				opacity: 1;
				  background: rgba(0, 0, 0, 1);
					box-shadow: 0px 5px 12px -6px black;						
					-webkit-animation-name: animatetop;
					-webkit-animation-duration: 1.00s;
					animation-name: animatetop;
					animation-duration: 1.00s;
				  }
				  /* Add Animation */
				  @-webkit-keyframes animatetop {
					from {center:0; opacity:0}
					to {center:0; opacity:1}
				  }
				  
				  @keyframes animatetop {
					from {center:0; opacity:0}
					to {center:0; opacity:1}
				  }
		  #cart-link-full-blue-orange:hover,
		  #cart-link-full-blue-orange:focus  {
				transition: 1s;
				cursor: pointer;
				opacity: .4;	
		  }					
			  #cart-icon-blue-orange,
			  #cart-icon-full-blue-orange {
				  height: 15px;
				  width: 16px;
				  -webkit-animation-name: animatetop;
				  -webkit-animation-duration: 1.00s;
				  animation-name: animatetop;
				  animation-duration: 1.00s;
				}
				/* Add Animation */
				@-webkit-keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
				}
				
				@keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
				}	
			  
		  #word-logo-blue-orange {
			  margin-top: 37px;
			  width: 110px;	
			  height: 35px;	
			  -webkit-animation-name: animatetop;
			  -webkit-animation-duration: 1.00s;
			  animation-name: animatetop;
			  animation-duration: 1.00s;
			}
			/* Add Animation */
			@-webkit-keyframes animatetop {
			  from {center:0; opacity:0}
			  to {center:0; opacity:1}
			}
			
			@keyframes animatetop {
			  from {center:0; opacity:0}
			  to {center:0; opacity:1}
			}
		  #slogan-blue-orange {
			  margin-top: 20px;
			  font-size: 10px;
			  letter-spacing: .5px;
			  margin-left: .5px; 
			  font-weight: 600;
			  color: gray;
			  opacity: .6;
			  word-spacing: 1.5px;
		  }	
		  
		  #wallet-connected-div-blue-orange{
			  display: block;
			  margin-top: 30px;
			  margin-left: auto;
			  margin-right: auto;
		  }
			  #connected-line-blue-orange {
				margin-top: -5px;
				background-color: black;
				border: none;
				height: 4px;
				border-radius: 30px;
				width: 100px;
				opacity: .1;
			  }	
			  #wallet-connected-blue-orange {
				  padding-bottom: 10px;
				  padding-top: 5px;
				  font-size: 9px;
				  letter-spacing: 0px;
				  margin-left: 0px; 
				  font-weight: 800;
				  color: gray;
				  opacity: 1;
			  }							
  
					  
				  
		  
	  #blue-orange {	
		  margin-top: 0px;
		  margin-left: auto;
		  margin-right: auto;
		  border-radius: 15px;
		  align-items: center;
		  overflow: hidden;
		  box-shadow: 0px 5px 20px -6px silver; 
		  width: 400px;
		  height: 100%;
		  padding-top: 40px;
		  padding-left: 40px;
		  padding-right: 40px;
		  padding-bottom: 40px;			
		  text-decoration: none;
		  background: rgb(255, 255, 255);
	  }
	  #asset-component {	
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 15px;
		align-items: center;
		overflow: hidden;
		box-shadow: 0px 5px 20px -6px silver; 
		width: 400px;
		height: 100%;
		padding-top: 40px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;			
		text-decoration: none;
		background: rgb(255, 255, 255);
	}
	  #owned-by-creator-blue-orange, 
	  #owned-by-buyer-blue-orange,
	  #blue-orange-prices-before-blue-orange, 
	  #blue-orange-prices-after-blue-orange,
	  #blue-orange-add-to-cart-blue-orange,
	  #blue-orange-add-to-cart-connected-blue-orange,
	  #blue-orange-added-blue-orange,
	  #blue-orange-collected-blue-orange {
		  display: block;
		  margin-top: 5px;
		  margin-left: auto;
		  margin-right: auto;
		  border-radius: 15px;
		  box-shadow: 0px 5px 20px -6px rgb(202, 202, 202, 0.5); 
		  width: 300px;
		  height: 100%;
		  padding-top: 10px;
		  padding-left: 10px;
		  padding-right: 10px;
		  padding-bottom: 25px;			
		  background: rgb(255, 255, 255);

	  }			  
		#asset-price-after-purchase-wrapper{
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 10px;
			align-items: center;
			overflow: hidden;
			box-shadow: 0px 5px 20px -6px rgb(202, 202, 202, 0.5); 
			width: 235px;
			height: 300px;
			padding-top: 35px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;			
			background: rgb(255, 255, 255);
		}
		#asset-price-wrapper{
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 10px;
			align-items: center;
			overflow: hidden;
			box-shadow: 0px 5px 20px -6px rgb(202, 202, 202, 0.5); 
			width: 190px;
			height: 190px;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;			
			background: rgb(255, 255, 255);
		}
		#photo-div {	
			margin-left: auto;
			margin-right: auto;
			border-radius: 0px;
			align-items: center;
			overflow: hidden;
			box-shadow: 0px 5px 20px -6px silver; 
			width: 400px;
			height: 495px;		
			text-decoration: none;
			background: silver;
		}
				  
		  #photo-link-blue-orange {
				  text-decoration: none; 
			  }
		  #photo-blue-orange {
			  object-fit: cover;
			  width: 400px;
			  height: 400px;
			  border:solid;
			  border-width: 0px;
			  border-color: silver;			
			  -webkit-animation-name: animatetop;
			  -webkit-animation-duration: 1.00s;
			  animation-name: animatetop;
			  animation-duration: 1.00s;
			}
			#photo-blue-orange {
				object-fit: cover;
				width: 400px;
				height: 400px;
				border:solid;
				border-width: 0px;
				border-color: rgb(240, 240, 240);	
				-webkit-animation-name: animatetop;
				-webkit-animation-duration: 1.00s;
				animation-name: animatetop;
				animation-duration: 1.00s;
			  }
			  #photo-asset{
				object-fit: cover;
				width: 400px;
				height: 400px;
				border:solid;
				border-radius: 10px;
				border-width: 1px;
				border-color: rgb(235, 235, 235);		
				-webkit-animation-name: animatetop;
				-webkit-animation-duration: 1.00s;
				animation-name: animatetop;
				animation-duration: 1.00s;
			  }
			  #photo-asset-loading-sell{
				object-fit: cover;
				width: 400px;
				height: 400px;
				border:solid;
				border-radius: 10px;
				border-width: 1px;
				border-color: rgb(235, 235, 235);		
				-webkit-animation-name: animatetop;
				-webkit-animation-duration: 1.00s;
				animation-name: animatetop;
				animation-duration: 1.00s;
			  }
			/* Add Animation */
			@-webkit-keyframes animatetop {
			  from {center:0; opacity:0}
			  to {center:0; opacity:1}
			}
			
			@keyframes animatetop {
			  from {center:0; opacity:0}
			  to {center:0; opacity:1}
			}
				  #photo-link-blue-orange:hover {
					opacity: .5;
					transition: 1s;
					box-shadow: none;
					cursor: pointer;
				  }
				  #photo-link-blue-orange:focus {
					opacity: .5;
					box-shadow: none;
					cursor: pointer;
			  }
			  #photo-no-upload {
				  z-index: 1;
				  object-fit: cover;
				  width: 400px;
				  height: 400px;
				  border:none;
				  box-shadow: 0px 5px 20px -6px gray; 
				  background-color: rgb(238, 238, 238);			
				  -webkit-animation-name: animatetop;
				  -webkit-animation-duration: 1.00s;
				  animation-name: animatetop;
				  animation-duration: 1.00s;
				}
				/* Add Animation */
				@-webkit-keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
				}
				
				@keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
				}	

				#photo-upload {
					width: 400px;
					height: 400px;
				  }
  
			  #add-art-icon {
				  margin-top: 20px;
				  display: inline-block;
				  text-decoration: none;  
					border: solid;
					padding: 10px;
					border-width: 2px;
					border-color: gray;
					border-radius: 15px;
					opacity: 1;
					  background: rgb(0, 0, 0, 1);	
					  box-shadow: 0px 5px 12px -6px black;	
				  height: 30px;
				  width: 30px;
				  -webkit-animation-name: animatetop;
				  -webkit-animation-duration: 1.00s;
				  animation-name: animatetop;
				  animation-duration: 1.00s;
			  }
			  /* Add Animation */
			  @-webkit-keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
			  }
			  
			  @keyframes animatetop {
				  from {center:0; opacity:0}
				  to {center:0; opacity:1}
			  }	
			  #add-art-icon:hover,
			  #add-art-icon:hover {
				opacity: .4;
				transition: 1s;
				cursor: pointer;
			  }	  
			  
		#asset-name-wrapper {
			margin-left: auto;
			margin-right: auto;
			width: 250px;
		} 
		#input { 
			text-align: center;
			margin-top: 20px;     	   
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 21px;
			padding-right: 19px;       	   		
			color: black;
			font-weight: 600;
			border: none;
			border-radius: 0px;
			font-size: 12px;
			width: 360px;
			height: 15px;
			letter-spacing: 0px;    	   		
			background: silver;
			box-shadow: 0px 3px 15px -6px gray; 
			opacity: .4;
		}

		#input:focus {
			cursor: pointer;
			outline: none;
			transition: 1s;
					opacity: 1;			    
			}   
		  #name-blue-orange {
			font-size: 13pt;
			font-weight: 800;
			opacity: 1;
			color: rgb(160, 160, 160);	
			margin-top: 25px;
			letter-spacing: -1px;	  
			margin-left: -1px;
			margin-bottom: 25px;
		  }
		  #share-div-blue-orange{
			  border-radius: 5px;
			  align-items: center;
			  box-shadow: 0px 5px 20px -6px silver; 
			  width: 190px;
			  height: 100px;
			  padding-top: 10px;
			  padding-left: 10px;
			  padding-right: 10px;
			  padding-bottom: 10px;			
			  background: white;	
			  margin-left: auto;
			  margin-right: auto;	
			  margin-bottom: 35px;
		  }
			  #share-div-desc-blue-orange{
				color: black;
				font-weight: 600;
				font-size: 11px;	
				letter-spacing: 0px;
				margin-left: 0px;
				opacity: .3;	
				margin-bottom: 5px;
				margin-top: 15px;
			  }				
			  #copy-link-blue-orange {
				text-decoration: none;
				color: white;
				font-weight: 500;
				font-size: 10px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 15px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 2px;
				border-radius: 5px;
				border-width: 0px;
				width: 145px;
				opacity: 1;
				box-shadow: 0px 8px 12px -6px black;  
				  background: black;
				  margin-bottom: 15px;
			  }	  
			  #copy-link-blue-orange:hover,
			  #copy-link-blue-orange:focus {
					opacity: .4;
					transition: 1s;
					cursor: pointer;
			  }		
				  #copy-link-icon-blue-orange{
					  width: 15px;
					  height: 8px;
					  margin-right: 5px;
					  -webkit-animation-name: animatetop;
					  -webkit-animation-duration: 1.00s;
					  animation-name: animatetop;
					  animation-duration: 1.00s;
					}
					/* Add Animation */
					@-webkit-keyframes animatetop {
					  from {center:0; opacity:0}
					  to {center:0; opacity:1}
					}
					
					@keyframes animatetop {
					  from {center:0; opacity:0}
					  to {center:0; opacity:1}
					}
  

		  
			  #creator-owner-desc-blue-orange {
			  margin-top: 15px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 12px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .4;
				  margin-bottom: 0px;
			  }
			  #creator-owner-link-blue-orange {
			  text-align: center;
				  color: #4d85cf;
				  font-weight: 300;
				  font-size: 15px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .8;
				  text-decoration: none;
			  }
				  #creator-owner-desc-blue-orange:hover,
				  #creator-owner-link-blue-orange:hover,
				  #creator-owner-desc-blue-orange:focus,
				  #creator-owner-link-blue-orange:focus {
					  opacity: .4;
					  transition: 1s;
					  cursor: pointer;
				  }
			  
		  #line-blue-orange {
			margin-top: 30px;
			background-color: black;
			border: none;
			height: 4px;
			border-radius: 30px;
			width: 60%;
			opacity: .1;
		  }	
		
				  
			  #PAP-blue-orange {
			  margin-top: 15px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 12px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .4;
			  }










			  #PAP-logo-list {
				margin-top: 10px;
				opacity: .2;
				width: 60px;
                height: 11px;
			  }

			  #line-pap-top {
				margin-top: 20px;
				background-color: black;
				border: none;
				height: 1.2px;
				border-radius: 30px;
				width: 150px;
				opacity: .1;
				margin-bottom: 20px;
			  }	

			  #PAP-not-minted-word {
				margin-top: 20px;
				text-align: center;
					color: black;
					font-weight: 300;
					font-size: 10px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .4;
				}
				#pap-polygon-logo-sell{
					width: 15px;
					height: 13px;
					margin-right: 4.5px;
					margin-left: -5px;
				}
				#PAP-not-minted-price {
				margin-top: -5px;
				text-align: center;
					color: black;
					font-weight: 300;
					font-size: 20px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .5;
				}

				#line-pap {
					margin-top: 10px;
					background-color: black;
					border: none;
					height: 1.2px;
					border-radius: 30px;
					width: 70px;
					opacity: .1;
					margin-bottom: 20px;
				  }	

				#PAP-not-minted-other-word {
				margin-top: 10px;
				text-align: center;
					color: black;
					font-weight: 300;
					font-size: 10px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .4;
				}
				#pap-polygon-logo-sell-other{
					margin-right: 4px;
					width: 12px;
					height: 10px;
				}
				#PAP-not-minted-price-other-price {
				margin-top: -5px;
				text-align: center;
					color: black;
					font-weight: 300;
					font-size: 14px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .5;
				}


				#price-not-minted-word {
					margin-top: 23px;
					text-align: center;
						color: black;
						font-weight: 300;
						font-size: 10px;
						letter-spacing: 0px;
						padding-left: 0px;
						opacity: .6;
					}
					#price-polygon-logo-sell{
						margin-right: 4.5px;
						margin-left: -5px;
						width: 15px;
						height: 13px;
					}
					#price-not-minted-price {
					margin-top: -5px;
					text-align: center;
						color: black;
						font-weight: 300;
						font-size: 20px;
						letter-spacing: 0px;
						padding-left: 0px;
						opacity: .7;
						margin-bottom: 10px;
					}
	
					#line-price {
						background-color: black;
						border: none;
						height: 1.2px;
						border-radius: 30px;
						width: 70px;
						opacity: .1;
						margin-bottom: 20px;
					  }	
	
					#price-not-minted-other-word {
					margin-top: -5px;
					text-align: center;
						color: black;
						font-weight: 300;
						font-size: 10px;
						letter-spacing: 0px;
						padding-left: 0px;
						opacity: .6;
					}
					#price-polygon-logo-sell-other{
						margin-right: 4px;
						width: 12px;
						height: 10px;
					}
					#price-not-minted-price-other-price {
					margin-top: -5px;
					text-align: center;
						color: black;
						font-weight: 300;
						font-size: 14px;
						letter-spacing: 0px;
						padding-left: 0px;
						opacity: .7;
					}













			  #PAP-blue-orange-before-blue-orange,
			  #PAP-blue-orange-after-blue-orange {
			  margin-top: -7px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 17px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .5;
			  }
			  #priceline-blue-orange {
			  margin-top: -5px;
			  background-color: black;
			  border: none;
			  height: 4px;
			  border-radius: 30px;
			  width: 60%;
			  opacity: .1;
			  }	
			  #yourprice-blue-orange {
			  margin-top: 30px;
			  text-align: center;
				  color: black;
				  font-weight: 300;
				  font-size: 15px;
				  letter-spacing: 0px;
				  padding-left: 0px;
				  opacity: .4;
			  }
				#price { 
					text-align: center;
					margin-top: 20px;     	   
					padding-top: 20px;
					padding-bottom: 20px;
					padding-left: 20px;
					padding-right: 20px;       	   		
					color: black;
					font-weight: 600;
					border: none;
					border-radius: 5px;
					font-size: 14px;
					width: 160px;
					height: 15px;
					letter-spacing: 0px;    	   		
					background: silver;
					opacity: .5;
			}

			#price:focus {
				cursor: pointer;
				outline: none;
				transition: 1s;
						opacity: 1;			    
				}  
		  #blue-orange-add-to-cart-blue-orange, 
		  #blue-orange-add-to-cart-connected-blue-orange  {
				text-decoration: none;
				margin-top: 30px;
				margin-bottom: 0px;
				color: white;
				margin-left: auto;
				margin-right: auto;
				font-weight: 500;
				font-size: 11px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 22px;
				padding-left: 25px;	  
				border: none;
				letter-spacing: 3px;
				border-radius: 5px;
				border-width: 0px;
				width: 170px;
				opacity: 1;
				box-shadow: 0px 8px 12px -6px black;  
				  background: black;
			  }	  
			  #post-created-art {
					text-decoration: none;
					color: white;
					margin-top: 35px;
					margin-left: auto;
					margin-right: auto;
					font-weight: 500;
					font-size: 11px;
					padding-top: 20px;
					padding-bottom: 20px;
					padding-right: 22px;
					padding-left: 25px;	  
					border: none;
					letter-spacing: 3px;
					border-radius: 4px;
					border-width: 0px;
					width: 170px;
					opacity: 1;
					box-shadow: 0px 6px 12px -6px black;  
					  background: black;
				  }	 
		#post-created-art:hover, 
		#post-created-art:focus,		  
		  #blue-orange-add-to-cart-blue-orange:hover, 
		  #blue-orange-add-to-cart-connected-blue-orange:focus {
				opacity: .4;
				transition: 1s;
				cursor: pointer;
		  } 
		  #blue-orange-added-blue-orange {
				text-decoration: none;
				margin-left: auto;
				margin-right: auto;
				color: white;
				font-weight: 500;
				font-size: 11px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 22px;
				padding-left: 25px;	  
				border: none;
				letter-spacing: 3px;
				border-radius: 5px;
				border-width: 0px;
				width: 170px;
				opacity: 1; 
				  background: silver;
			  }	
		  #blue-orange-collected-blue-orange {
				text-decoration: none;
				margin-left: auto;
				margin-right: auto;
				color: white;
				font-weight: 500;
				font-size: 11px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 22px;
				padding-left: 25px;	  
				border: none;
				letter-spacing: 3px;
				border-radius: 5px;
				border-width: 0px;
				width: 170px;
				opacity: 1; 
				  background: silver;
			  }
			  #fingerprints{
				  margin-top: 40px;
				  border-radius: 15px;
				  align-items: center;
				  width: 300px;		
				  background: white;	
				  margin-left: auto;
				  margin-right: auto;				
			  }
				  #digital-fingerprints{
					  color: black;
						font-weight: 200;
						font-size: 11px;	
						letter-spacing: 2px;
						margin-left: 2px;
						opacity: .3;	
						margin-bottom: 10px;
						margin-top: 20px;
				  }
				  #fingerprints-button{
					  text-decoration: none;
					  margin-left: 3px;
					  margin-right: 3px;
						text-decoration: none;
						padding-top: 10px;
						padding-bottom: 7px;
						padding-right: 5px;
						padding-left: 5px;  
						border: solid;
						width: 50px;
						border-color: silver;
						border-radius: 10px;
						border-width: 1px;
						opacity: .4;	
						background: none;				
				  }
				  #fingerprints-button:hover,
				  #fingerprints-button:focus {
					transition: 1s;
					cursor: pointer;
					opacity: 1;	
				  }					
					  #fingerprints-icon{
						  height: 25px;
							width: 25px;
							-webkit-animation-name: animatetop;
							-webkit-animation-duration: 1.00s;
							animation-name: animatetop;
							animation-duration: 1.00s;
						  }
						  /* Add Animation */
						  @-webkit-keyframes animatetop {
							from {center:0; opacity:0}
							to {center:0; opacity:1}
						  }
						  
						  @keyframes animatetop {
							from {center:0; opacity:0}
							to {center:0; opacity:1}
						  }								
			  			
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
  @media screen and (max-width: 700px) {
	  #blue-orange-wrapper {
		  -webkit-text-size-adjust: none;
		}  	

		#slogan-blue-orange {
			margin-top: 10px;
			font-size: 8px;
			letter-spacing: .3px;
			margin-left: .3px; 
		}	
		
		#blue-orange {
			margin-top: 0px;
			width: 300px;
			}  
		#asset-component {
			margin-top: 25px;
			width: 300px;
			} 
			#owned-by-creator-blue-orange, 
			#owned-by-buyer-blue-orange,
			#blue-orange-prices-before-blue-orange, 
			#blue-orange-prices-after-blue-orange,
			#blue-orange-add-to-cart-blue-orange,
			#blue-orange-add-to-cart-connected-blue-orange,
			#blue-orange-added-blue-orange,
			#blue-orange-collected-blue-orange {
				width: 280px;
			}			  
			  #asset-price-after-purchase-wrapper{
				padding-top: 27px;
				  width: 220px;
				  height: 240px;
			  }
			  #asset-price-wrapper{
				  padding-top: 10px;
				  width: 170px;
				  height: 155px;

			  }	 	
			#photo-asset,
			#photo-asset-loading-sell {
				width: 300px;
				height: 300px;
			}









			#PAP-logo-list {
				margin-top: 0px;
				width: 45px;  
                height: 9px;
			  }

			  #line-pap-top {
				margin-top: 10px;
				width: 60px;
				margin-bottom: 20px;
			  }	

			  #PAP-not-minted-word {
				margin-top: 20px;
					font-size: 9px;
					opacity: .4;
				}
				#pap-polygon-logo-sell{
					margin-right: 4px;
					margin-left: -3px;
					width: 13px;
					height: 11px;
				}
				#PAP-not-minted-price {
					font-size: 16px;
				}

				#line-pap {
					margin-top: 10px;
					width: 60px;
					margin-bottom: 15px;
				  }	

				#PAP-not-minted-other-word {
				margin-top: 10px;
					font-size: 8px;
				}
				#pap-polygon-logo-sell-other{
					margin-right: 4px;
					width: 11px;
					height: 9px;
				}
				#PAP-not-minted-price-other-price {
				margin-top: -5px;
					font-size: 13px;
				}


				#price-not-minted-word {
					margin-top: 23px;
						font-size: 9px;
					}
					#price-polygon-logo-sell{
						margin-right: 4px;
						margin-left: -3px;
						width: 13px;
						height: 11px;
					}
					#price-not-minted-price {
					margin-top: -5px;
						font-size: 16px;
						margin-bottom: 10px;
					}
	
					#line-price {
						width: 60px;
						margin-bottom: 20px;
					  }	
	
					#price-not-minted-other-word {
					margin-top: -5px;
						font-size: 8px;
					}
					#price-polygon-logo-sell-other{
						margin-right: 4px;
						width: 11px;
						height: 9px;
					}
					#price-not-minted-price-other-price {
					margin-top: -5px;
						font-size: 13px;
					}













		#photo-no-upload {
			width: 300px;
			height: 300px;
			}
			#photo-upload {
				width: 300px;
				height: 300px;
			  }	
		#photo-div {	
			width: 300px;
			height: 370px;		
		}	

		#add-art-icon {
			margin-top: 13px;
			  padding: 8px;
			  border-width: 2px;
			  border-radius: 13px;
			height: 22px;
			width: 22px;
		}	
		#asset-name-wrapper {
			width: 200px;
		}  
		#input { 
			font-size: 11px;
			width: 260px;
			height: 15px;
		}
		  #name-blue-orange {
			font-size: 11pt;
			font-weight: 800;
			margin-top: 20px;
			margin-bottom: 20px;
		  }
		  #share-div-blue-orange{
			  width: 150px;
			  height: 80px;
			  padding-top: 10px;
			  padding-left: 10px;
			  padding-right: 10px;
			  padding-bottom: 10px;	
			  margin-bottom: 30px;		
		  }
			  #share-div-desc-blue-orange{
				font-weight: 600;
				font-size: 9px;	
				letter-spacing: 0px;
				margin-left: 0px;
				margin-bottom: 5px;
				margin-top: 7px;
			  }								
			  #copy-link-blue-orange {
				font-size: 8px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 15px;
				padding-left: 15px;	  
				border: none;
				width: 120px;
				letter-spacing: 2px;
				margin-bottom: 10px;
			  }	  	
				  #copy-link-icon-blue-orange {
					  width: 12px;
					  height: 6px;
				  }
		  #creator-owner-desc-blue-orange {
		  	margin-top: 15px;
			  font-weight: 300;
			  font-size: 12px;
			  letter-spacing: 0px;
			  padding-left: 0px;
			  margin-bottom: 0px;
		  }
		  #creator-owner-link-blue-orange {
		  text-align: center;
			  font-weight: 300;
			  font-size: 13px;
			  letter-spacing: 0px;
			  padding-left: 0px;
  
		  }			
		  #line-blue-orange {
		   margin-top: 20px;
		  }			
		  #PAP-blue-orange {
		  margin-top: 15px;
			  font-size: 12px;
		  }
		  #PAP-blue-orange-before-blue-orange,
		  #PAP-blue-orange-after-blue-orange {
		  	margin-top: -8px;
			  font-size: 13px;
		  }
		  #price { 
				font-size: 12px;
				width: 120px;
		}
		  #priceline-blue-orange {
			margin-top: 0px;
		  }	
		  #yourprice-blue-orange {
		  margin-top: 20px;
			  font-size: 13px;
		  }
		  #price-blue-orange-before-blue-orange,
		  #price-blue-orange-after-blue-orange {
		  margin-top: -10px;
			  font-size: 15px;
			  margin-bottom: 20px;	
		  }	
		  #post-created-art {
			margin-top: 35px;
			font-weight: 500;
			font-size: 9px;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 22px;
			padding-left: 25px;	  
			letter-spacing: 2px;
			width: 155px;
		  }	 		
		  #blue-orange-add-to-cart-blue-orange, 
		  #blue-orange-add-to-cart-connected-blue-orange {
				font-size: 9px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 14px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 2px;
				width: 140px;
			  }	  
		   #blue-orange-added-blue-orange {
				font-size: 9px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 12px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 1px;
				width: 120px;
			  }	
		  #blue-orange-collected-blue-orange {
				font-size: 9px;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 12px;
				padding-left: 15px;	  
				border: none;
				letter-spacing: 1px;
				width: 120px;
			  }
		  #fingerprints{
			  margin-top: 35px;
			  width: 300px;					
		  }
			  #digital-fingerprints{
					font-size: 9px;	
					letter-spacing: 2px;
					margin-left: 2px;
					margin-bottom: 10px;
			  }
			  #fingerprints-button{
				  margin-left: 5px;
				  margin-right: 5px;
					padding-top: 8px;
					padding-bottom: 5px;
					padding-right: 5px;
					padding-left: 5px;	  
					width: 42px;			
			  }			
				  #fingerprints-icon{
					  height: 20px;
					  width: 20px;
				  }											
  }