/* BitcoinChart.module.css */
.chartContainer {
  margin-top: 30px;
    width: 356.5px;
    height: 214px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 50px;
    background: none;
    border-radius: 10px;
    box-shadow: 0px 5px 50px -6px rgba(204, 116, 0, 0.25);
  }

  
  .lineChartWrapper {
    margin-top: -205px;
    margin-left: 105px;
    position: relative;
    width: 250px;
    height: 200px;
    box-shadow: 0px 5px 20px -6px rgba(204, 116, 0, 0.0); 
    border-radius: 10px; /* Rounded corners for the wrapper */
    padding-top: 35px;
    padding-bottom: 10px;
    padding-right: 2px;
    padding-left: 0px;
    background: rgb(253, 244, 234); /* Add a background color if needed */
    flex-grow: 1; /* Allow the line chart to grow */
    opacity: 1;
    
  }

  .line {
    margin-left: -8px;
    margin-right: -6px;
    margin-top: 35px;
  }
  
    .percentageContainer {
      margin-top: -15px;
      position: relative;
      display: flex;
      align-items: left;
      margin-left: 5px;
    }
    
    .percentageLabel {
      color: black;
      font-size: 13px;
      font-weight: 600;
      opacity: .5;
      letter-spacing: 0px;
    }

    .lastThirtyDays {
      text-align: left;
      color: black;
      font-size: 7px;
      letter-spacing: 0px;
      font-weight: 800;
      opacity: .3;
      margin-top: 50px;
      margin-left: 4px;
    }