 /* modal.css source */
/* The Modal (background) */

#buying-wrapper {
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 190px; /* Location of the box */
    text-align: center;
      font-family: Arial;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(181, 134, 73, 0.9);
  }
  
  
  @media screen and (max-height: 550px) {
    #buying-wrapper {
      padding-top: 30px; 
    }
  }
  
  /* Modal Content */
  
  #buying-content {
    padding-top: 55px;
    width: 240px;
    height: 135px;
    background-color: rgba(180, 134, 73, 0.9); 
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.00s;
    animation-name: animatetop;
    animation-duration: 1.00s;
    box-shadow: rgba(69, 51, 27, 1);
    margin-bottom: 50px;
  }


  #buying-image{
    margin-top: 16.5px;
    margin-bottom: 2px;
    opacity: .65;
  }
  
      #buying-words {
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 11px;
        margin-top: 25px;
        margin-bottom: 30px;
        letter-spacing: 0px;
        margin-left: 0px; 
        opacity: .6;
      }