
#bitcoindashboardloaderbackground {
    position: fixed; /* Stay in place */
    text-align: center;
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
	background-color: rgba(255, 251, 245, 0.985); 
	background-color: rgba(255, 251, 245, 0.985);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.25s;
    animation-name: animatetop;
    animation-duration: 0.25s;
    padding-bottom: 30px;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {center:0; opacity:0}
    to {center:0; opacity:1}
  }


  #arells-loader-icon-bitcoin {
    margin-top: 220px;
    opacity: .3;
  }


  @media screen and (max-height: 550px) {

    #arells-loader-icon-bitcoin {
      margin-top: 120px;
    }

  }

