
#connect-wrapper {
	padding-top: 20px; 
	text-align: center;
	font-family: Arial;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
		background-color: rgb(255, 251, 245);
		border-radius: 30px;
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 1.00s;
		animation-name: animatetop;
		animation-duration: 1.00s;
		padding-bottom: 80px; 
   }

   #connect-wrapper-concept {
	padding-top: 20px; 
	text-align: center;
	font-family: Arial;
	margin-top: 40px;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
		background-color: rgb(255, 251, 245);
		border-radius: 30px;
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 1.00s;
		animation-name: animatetop;
		animation-duration: 1.00s;
		padding-bottom: 80px; 
   }
   
	   @-webkit-keyframes animatetop {
	   from {center:0; opacity:0}
	   to {center:0; opacity:1}
	 }
	 
	 @keyframes animatetop {
	   from {center:0; opacity:0}
	   to {center:0; opacity:1}
	 }

	 #connect-header-navigation {
		display: flex;
		justify-content: center;
		margin-left: -8px;
		align-items: center;
		position: fixed;
		padding-top: 10px;
		background: none;
		width: 100%;
		height: 50px;
		z-index: 100;
	}

		#connect-home-link{
			display: inline-block;
			text-decoration: none;
			margin-right: 100px;
			text-decoration: none;
			padding-top: 9px;
			padding-bottom: 5.5px;
			padding-right: 9px;
			padding-left: 9px;		  
			border: solid;
			border-color: rgb(0, 0, 0, 0.2);
			border-radius: 30px;
			border-width: 1.5px;
			opacity: .9;
				background: white;					
		}
		#connect-home-link:hover,
		#connect-home-link:focus {
			transition: 1s;
			cursor: pointer;
			border-color: rgb(0, 0, 0, 0.05);
			box-shadow: none;
			}		
			#connect-account-navigation {
				height: 23px;
				width: 23px;
				-webkit-animation-name: animatetop;
				-webkit-animation-duration: 1.00s;
				animation-name: animatetop;
				animation-duration: 1.00s;
			}
			/* Add Animation */
			@-webkit-keyframes animatetop {
				from {center:0; opacity:0}
				to {center:0; opacity:1}
			}
			
			@keyframes animatetop {
				from {center:0; opacity:0}
				to {center:0; opacity:1}
			}
		#connect-cart-link{
			display: inline-block;
			text-decoration: none;
			text-decoration: none;
			padding-top: 9px;
			margin-left: 100px;
			padding-bottom: 5.5px;
			padding-right: 9px;
			padding-left: 9px;	  	  
			border: solid;
			border-color: rgb(255, 170, 60, 1);
			border-radius: 30px;
			border-width: 1.5px;
			opacity: .9;
			background: white;	
			box-shadow: 0px 5px 20px -8px rgb(198, 112, 0, 1); 	 						
		}
			#connect-buy-navigation {
				height: 23px;
				width: 23px;
				-webkit-animation-name: animatetop;
				-webkit-animation-duration: 1.00s;
				animation-name: animatetop;
				animation-duration: 1.00s;
			}
			#connect-cart-link:hover,
			#connect-cart-link:focus {
				transition: 1s;
				cursor: pointer;
				border-color: rgb(255, 170, 60, 0.2);
				box-shadow: none; 
				}	
		

	 #connect-title {
		margin-top: 25px;
		color: black; 
		margin-left: auto;	
		margin-right: auto;	
		font-weight: 600;	
		font-size: 20px;
		letter-spacing: 0px;
		opacity: .3;			
	}	





	
	#connect-instructions-wrapper {
		margin-top: 120px;
		background: none; 
		border-radius: 30px;
		align-items: center;
		position: relative;
		margin-left: auto;
		margin-right: auto;  
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 1.00s;
		animation-name: animatetop;
		animation-duration: 1.00s;
		box-shadow: 0px 5px 20px -6px rgba(204, 116, 0, 0.0);  	
	}
		
		#connect-instructions {
			width: 250px;
			color: black;
			margin-left: auto;	
			margin-right: auto;	
			line-height: 30px;
			font-weight: 800;	
			font-size: 30px;
			letter-spacing: -1px;
			opacity: .1;			
		}




	#bitcoin-address-wrapper {
		margin-top: 120px;
		padding-top: 30px;
		background-color: none;
		width: 350px;
		height: 100px;
		border-radius: 30px;
		box-shadow: 0px 5px 20px -6px rgba(204, 116, 0, 0.3);
		margin-left: auto;
		margin-right: auto;  
	}

		#copy-bitcoin-input-wrapper {
			margin-top: 10px;
		}
			#copy-bitcoin-input { 
				text-align: center;  	   
				padding-top: 20px;
				padding-bottom: 20px;
				padding-left: 25px;
				padding-right: 40px;       	   		
				color: white;
				font-weight: 800;
				border: none;
				border-radius: 10px;
				font-size: 12px;
				width: 150px;
				height: 5px;
				letter-spacing: 0px;    	   		
				background: rgba(0, 0, 0, 0.2);
				opacity: 1;
				margin-bottom: 10px;  
			}
			#copy-bitcoin-input::placeholder { 
				color: white; /* Change the placeholder text color */
				font-size: 15px; /* Change the font size */
				}
	
			#copy-bitcoin-input:focus {
				outline: none;
				transition: 1s;
				background: rgba(0, 0, 0, 0.4);			    
			}       	   
	
			#copy-bitcoin-button {
				background-color: black;
				text-decoration: none;
				color: white;
				font-weight: 500;
				font-size: 12px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 10px;
				padding-left: 12px;	  
				margin-left: -25px;
				border: none;
				letter-spacing: 1px;
				border-radius: 10px;
				border-width: 0px;
				width: 80px;
				opacity: 1;
				box-shadow: 0px 8px 12px -6px black;  			  
			}
			#copy-bitcoin-button:hover,
			#copy-bitcoin-button:focus {
				background-color: gray;
				box-shadow: 0px 8px 12px -6px gray;  
				color: silver;	
				transition: 1s;
				cursor: pointer;
			}  


@media screen and (max-height: 620px) {
	#connect-instructions-wrapper {
		margin-top: 50px;
	}
	#bitcoin-address-wrapper {
		margin-top: 50px;
	}
}
