 /* modal.css source */
/* The Modal (background) */

.RWmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 82px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(169,166,211); /* Fallback color */
  background-color: rgba(169, 166, 211,0.9); /* Black w/ opacity */
}

/* Modal Content */

.RWmodal-content {
  align-items: center;
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  margin: auto;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.00s;
  animation-name: animatetop;
  animation-duration: 1.00s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {center:0; opacity:0}
  to {center:0; opacity:1}
}

@keyframes animatetop {
  from {center:0; opacity:0}
  to {center:0; opacity:1}
}

/* The Close Button */
.RWclose {
  background:white;
  color: rgba(169, 166, 211,1);
  margin: auto;
  border: none;
  font-weight: 600;
  border-radius: 15px;
  font-size: 15px;
  padding: 15px;
  letter-spacing: 1px;
  width: 40px;
}
.RWclose:hover,
.RWclose:focus {
  cursor: pointer;
  opacity: .4;
  transition: 1s;
  
}
