body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  background: white;
}

#wrapper {
	padding-top: 30px;
	padding-bottom: 20px;
  	height: 670px;
  	width: 100%;
	background: linear-gradient(90deg, 
	rgba(255,0,0,1) 0%, 
	rgba(178,179,2,1) 25%, 
	rgba(1,187,1,1) 50%, 
	rgba(33,0,255,1) 75%, 
	rgba(187,1,158,1) 100%);    
     animation: gradients 20s ease infinite; 
     background-size: 10000% 10000%;
  	box-shadow: 0px 8px 12px -6px black;           

}
@-webkit-keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

/* 	#arells-icon {
		width: 45px;
		opacity: .8;
	} */
	#word-logo {
		width: 140px;
		opacity: 1;	
	}
	#desc {
		color: white;
		margin-left: auto;	
		margin-right: auto;	
		margin-top: 15px;	
		font-weight: 500;	
		font-size: 9.5px;
		letter-spacing: 1px;
		word-spacing: 0px;
		opacity: .8;				
	}	
	
	#sign-up {
		color: white;
		width: 500px;
		height: 460px;
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		background: none;
		border-radius: 0px;
  		box-shadow: 0px 5px 25px -10px black;  				  	
	}
		#enter-content {
			margin-top: 20px;
		}
		#label{
			font-weight: 500;
			font-size: 9px;
			letter-spacing: 2px;
			margin-left: 2px;
			opacity: 1;
		}
       	   input { 
       	   	    text-align: center;
       	   		margin-top: 5px;     	   
       	   		padding-top: 20px;
       	   		padding-bottom: 20px;
       	   		padding-left: 21px;
       	   		padding-right: 19px;       	   		
       	   		color: white;
       	   		font-weight: 500;
       	   		border: none;
       	   		border-radius: 10px;
       	   		font-size: 13px;
       	   		width: 240px;
       	   		height: 15px;
				letter-spacing: 1px;    	   		
       	   		background: black;
       	   		opacity: .4;
       	   }
 	   
			input:focus {
			    cursor: pointer;
			    outline: none;
			    transition: 1s;
       	   		opacity: .8;			    
			  }       	   
		  .form-control:focus{
		       border-width: 7px;
               -webkit-box-shadow: none !important;
               -moz-box-shadow: none !important;
               box-shadow: none !important;
           }  
           #last-input{
			  margin-bottom: 50px;           
           }     	   
			#submit {
			  background: none;
			  text-decoration: none;
			  color: white;
			  font-weight:500;
			  font-size: 11px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 44px;
			  padding-left: 45px;	  
			  border: solid;
			  letter-spacing: 1px;
			  border-radius: 10px;
			  border-width: 1px;
			  width: 200px;
			  opacity: 1;
			}
			#submit:hover,
			#submit:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
			}
/* 	#signed-up {
		color: white;
		width: 500px;
		height: 460px;
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		background: none;
		border-radius: 0px;
  		box-shadow: 0px 5px 25px -10px black;  				  	
	}
		#signed-up-spacer{
			margin: auto;
			padding-top: 50px;
			width: 100px;
		}	
		#signed-up-text{
		    line-height: 30px;	    
			color: white;
			font-weight: 500;
			font-size: 40px;
			letter-spacing: 2px;
			margin-left: 2px;
			opacity: .8;
		}	 */       	   
		
	#footer {
		padding-top: 50px;
		padding-bottom: 40px;	
	}		

		#contact {
			opacity: .7;
		}
		#contact:hover,
		#contact:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
		}
		#twitter {
			width: 30px;
		}	



@media screen and (max-width: 650px){

	#sign-up {
		width: 350px;			  	
	}	
       	  input { 
       	   		margin-top: 5px;     	   
       	   		padding-top: 20px;
       	   		padding-bottom: 20px;
       	   		padding-left: 21px;
       	   		padding-right: 19px;       	   		
       	   		font-weight: 500;
       	   		font-size: 14px;
       	   		width: 200px;
       	   		height: 15px;
				letter-spacing: 1px;    	   		
       	   }			


	#twitter {
		width: 27px;
	}	
		
