#cart-wrapper {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding-top: 0px;
  padding-bottom: 30px;
  background: white;
}

	#header-cart {
			display: flex;
			justify-content: center;
			margin-top: 0px;
			align-items: center;
			position: static;
			padding-top: 30px;
			background: none;
			width: 100%;
			height: 50px;
			margin-left: auto;
			margin-right: auto;
			z-index: 100;
			margin-bottom: -80px;
		}
		#icon-link-cart{
			display: inline-block;
			text-decoration: none;
			margin-right: 124px;
			  text-decoration: none;
			  padding-top: 13px;
			  padding-bottom: 10px;
			  padding-right: 8px;
			  padding-left: 8px;	  	  
			  border: none;
			  border-color: gray;
			  border-radius: 15px;
			  border-width: 1px;
			  width: 43px;
			  opacity: .1;
				background: rgba(255, 255, 255, 0.8);						
		}	
			#arells-icon-cart {
				height: 16px;
			}	
		#cart-link-cart{
			display: inline-block;
			text-decoration: none;
			margin-left: 124px;
			  text-decoration: none;
			  padding-top: 12px;
			  padding-bottom: 9px;
			  padding-right: 10px;
			  padding-left: 10px;	  
			  border: none;
			  width: 60px;
			  border-color: gray;
			  border-radius: 15px;
			  border-width: 1px;
			  opacity: .1;
				background: rgba(255, 255, 255, 0.8);						
		}	
			#cart-icon-cart {
				height: 18px;
			}		
			
		#word-logo-cart {
			margin-top: 37px;
			width: 110px;	
		}
		#slogan-cart {
			margin-top: 23px;
			font-size: 8px;
			letter-spacing: 0px;
			margin-left: 0px; 
			font-weight: 600;
			color: gray;
			opacity: 1;
			word-spacing: 1.5px;
		}
		
		#wallet-connected-div-cart{
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
			#connected-line-cart {
			  margin-top: -5px;
			  background-color: black;
			  border: none;
			  height: 4px;
			  border-radius: 30px;
			  width: 100px;
			  opacity: .1;
			}	
			#wallet-connected-cart {
				padding-bottom: 10px;
				padding-top: 5px;
				font-size: 9px;
				letter-spacing: 0px;
				margin-left: 0px; 
				font-weight: 800;
				color: gray;
				opacity: 1;
			}

		#cart-full-cart {
			display: block;
		}	
		#purchase-info-cart{
			margin-left: auto;
		    margin-right: auto;
		    margin-bottom: 10px;
		    margin-top: -200px;
		    align-items: center;
			border-radius: 15px;
			box-shadow: 0px 5px 20px -6px silver; 
			width: 360px;
			height: 280px;
			padding-top: 175px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 40px;			
			text-decoration: none;
			background: white;
		     
		}		
			#royalty-cart {
			text-align: center;
			margin-top: 30px;
				color: black;
				font-weight: 300;
				font-size: 12px;
				letter-spacing: 0px;
				padding-left: 0px;
				opacity: .4;
			}
			#royalty-price-cart {
			text-align: center;
			margin-top: -10px;
				color: black;
				font-weight: 300;
				font-size: 17px;
				letter-spacing: 0px;
				padding-left: 0px;
				opacity: .5;
			}
				#royalty-price-value-cart{
					display: inline;
					margin-left: 0px;
				}						
			#fee-cart {
			text-align: center;
			margin-top: 15px;
				color: black;
				font-weight: 300;
				font-size: 12px;
				letter-spacing: 0px;
				padding-left: 0px;
				opacity: .4;
			}
			#fee-price-cart {
			text-align: center;
			margin-top: -10px;
				color: black;
				font-weight: 300;
				font-size: 17px;
				letter-spacing: 0px;
				padding-left: 0px;
				opacity: .5;
			}	
				#fee-price-value-cart{
					display: inline;
					margin-left: 0px;
				}	
			#total-cart {
				text-align: center;
				color: black;
				font-weight: 300;
				font-size: 15px;
				letter-spacing: 0px;
				padding-left: 0px;
				opacity: .4;
			}	
			#total-price-cart {
			margin-top: -12px;
			text-align: center;
				color: black;
				font-weight: 300;
				font-size: 20px;
				letter-spacing: 0px;
				padding-left: 0px;
				opacity: .7;
				margin-bottom: 30px;
			}
				#total-price-value-cart{
					display: inline;
					margin-left: 0px;
				}								
			#purchase-cart {
			  text-decoration: none;
			  color: white;
			  font-weight: 500;
			  font-size: 11px;
			  letter-spacing: 1px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 20px;
			  padding-left: 21px;	  
			  border-radius: 5px;
			  border-width: 0px;
			  width: 200px;
			  opacity: 1;
			  box-shadow: 0px 8px 12px -6px black;  
				background: black;
			}	  
			#purchase-cart:hover,
			#purchase-cart:focus {
				  opacity: .4;
				  transition: 1s;
				  cursor: pointer;
			}		
		#profileline-cart {
		margin-top: 30px;
		  background-color: black;
		  border: none;
		  height: 4px;
		  border-radius: 30px;
		  width: 480px;
		  opacity: .1;
		}
		
		
		
		#cart-empty-cart {
			display: block;
		}
		#no-art-cart{
			margin-top: 60px;
			width: 500px;
			  font-size: 12pt;
			  font-weight: 800;
			  opacity: .3;
			  color: black;	
			  letter-spacing: 0px;	 
			  margin-left: 0px; 
			  margin-right: auto;
			  margin-left: auto;			
		}	
		#cart-icon-collected-cart{
			height: 25px;
			margin-left: 10px;
			opacity: 1;
		}	
					
			
	
		#container-cart {
			margin-top: 30px;
			  width: 900px;
			  margin-left: auto;
			  margin-right: auto;
			  margin-bottom: 40px;		
		}
			
			#blue-orange-cart, #beach-houses-cart, #colour-glass-cart,
			#layers-cart, #succinct-drop-cart, #paint-rain-cart{
				display: flex;
				margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 10px;
			    align-items: center;
				border-radius: 15px;
				overflow: hidden;
				box-shadow: 0px 5px 20px -6px silver; 
				width: 480px;
				height: 160px;
				padding-top: 30px;
				padding-left: 40px;
				padding-right: 40px;
				padding-bottom: 30px;			
				text-decoration: none;
				background: white;
			     
			}
			
			#photo-link-cart {
				display: inline-block;
				text-decoration: none; 
			}
				#photo-cart {
					object-fit: cover;
					width: 150px;
					height: 150px;
		  			border-radius: 10px;		
		  			box-shadow: 0px 8px 12px -6px black; 
				}
		
				#photo-link-cart:hover {
				  opacity: .5;
				  transition: 1s;
				  box-shadow: none;
				  cursor: pointer;
				}
				#photo-link-cart:focus {
				  opacity: .5;
				  box-shadow: none;
				  cursor: pointer;
			}		
			#prices-cart {
				display: inline-block;
				margin-left: 20px;
				margin-right: 20px;
				text-align: left;
				width: 400px;
			}	
			
				#PAP-cart {
				width: 70px;
				margin-top: 30px;
					color: black;
					font-weight: 300;
					font-size: 12px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .4;
				}
				#PAP-blue-orange-before-cart, #PAP-beach-houses-before-cart, #PAP-colour-glass-before-cart,
				#PAP-layers-before-cart, #PAP-succinct-drop-before-cart, #PAP-paint-rain-before-cart {
				margin-top: -7px;
					color: black;
					font-weight: 300;
					font-size: 17px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .5;
				}
				#priceline-cart {
				  margin-top: -5px;
				  background-color: black;
				  border: none;
				  height: 4px;
				  border-radius: 30px;
				  width: 100%;
				  opacity: .04;
				}	
				#yourprice-cart {
				margin-top: 13px;
					color: black;
					font-weight: 300;
					font-size: 15px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .4;
				}
				#price-blue-orange-before-cart, #price-beach-houses-before-cart, #price-colour-glass-before-cart,
				#price-layers-before-cart, #price-succinct-drop-before-cart, #price-paint-rain-before-cart {
				margin-top: -10px;
					color: black;
					font-weight: 300;
					font-size: 20px;
					letter-spacing: 0px;
					padding-left: 0px;
					opacity: .7;
					margin-bottom: 28px;
				}
			#remove-cart {
				display: inline-block;
				text-decoration: none;
				  padding-top: 10px;
				  padding-bottom: 10px;
				  padding-right: 10px;
				  padding-left: 10px;	  
				  border: none;
				  border-radius: 10px;
				  width: 40px;
				  height: 40px;
				  opacity: .5;
				  box-shadow: 0px 2px 10px -3px gray;  
					background: white;
				}	  
			#remove-cart:hover,
			#remove-cart:focus {
				  opacity: 1;
				  transition: 1s;
				  cursor: pointer;
			}		
				#del-cart {
					height: 20px;
					opacity: 1;
				}
				
		#prototype-cart-word {
			margin-top: 30px;
			font-size: 8px;
			letter-spacing: 3px;
			margin-left: 3px; 
			font-weight: 500;
			color: black;
			opacity: .4;
		}						
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
@media screen and (max-width: 1000px) {
	#cart-wrapper {
	    -webkit-text-size-adjust: none;
	  }  
		#header-cart {
				margin-top: 0px;
				padding-top: 25px;	
				margin-bottom: -75px;		
			}	
			#icon-link-cart{	
				margin-right: 90px;
				  padding-top: 10px;
				  padding-bottom: 7px;
				  padding-right: 6px;
				  padding-left: 6px;	
				  border-radius: 12px;
				  width: 30px;		
			}	
			#arells-icon-cart {
					height: 15px;
				}	    
			#cart-link-cart{
				margin-left: 90px;
				  padding-top: 10px;
				  padding-bottom: 7px;
				  padding-right: 8px;
				  padding-left: 8px;	
				  border-radius: 12px;	
				  width: 45px;  					
			}
			#cart-icon-cart {
					height: 15px;
				}
			
			  				
		#word-logo-cart {
			margin-top: 35px;
			width: 90px;	
		}
		#slogan-cart {
			margin-top: 16px;
			font-size: 7px;
			letter-spacing: 0px;
			margin-left: 0px; 
			word-spacing: 1.5px;
		}	
		#wallet-connected-div-cart{
			margin-top: 25px;
			margin-bottom: 20px;
		}	
			#connected-line-cart {
			  width: 90px;
			}				
			#wallet-connected-cart {
				padding-bottom: 12px;
				padding-top: 7px;
				font-size: 8px;
				letter-spacing: 0px;
				margin-left: 0px; 
			}
		#purchase-info-cart{
			width: 300px;
			height: 230px;
			padding-top: 185px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;			
		     
		}				
			#royalty-cart {
				margin-top: 20px;
				font-size: 11px;
			}
			#royalty-price-cart {
				margin-top: -10px;
				font-size: 12px;
			}
				#royalty-price-value-cart{
					margin-left: 0px;
				}	
			#fee-cart {
				margin-top: 10px;
				font-size: 11px;
			}
			#fee-price-cart {
				margin-top: -10px;
				font-size: 12px;
				margin-bottom: 10px;	
			}	
				#fee-price-value-cart{
					margin-left: 0px;
				}	
			#total-cart{
				font-size: 13px;
			}  
			#total-price-cart {
				margin-top: -10px;
				font-size: 15px;
				margin-bottom: 25px;
			}	
				#total-price-value-cart{
					margin-left: 0px;
				}	
			#purchase-cart {
				  font-size: 9px;
				  padding-top: 20px;
				  padding-bottom: 20px;
				  padding-right: 20px;
				  padding-left: 21px;	  
				  border: none;
				  letter-spacing: 1px;
				  width: 170px;
			}	  	
		
		#no-art-cart{
			margin-top: 50px;
			width: 300px;
			font-size: 13px;
		}	
		#cart-icon-collected-cart{
			height: 20px;
			margin-left: 5px;
		}		
						
				
		#container-cart {
			  width: 660px;	
		}
			
			#blue-orange-cart, #beach-houses-cart, #colour-glass-cart,
			#layers-cart, #succinct-drop-cart, #paint-rain-cart{
				margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 10px;
			    align-items: center;
				border-radius: 15px;
				overflow: hidden;
				box-shadow: 0px 5px 20px -6px silver; 
				width: 400px;
				height: 90px;
				padding-top: 35px;
				padding-left: 35px;
				padding-right: 35px;
				padding-bottom: 35px;			
				text-decoration: none;
				background: white;
			     
			}
			
				#photo-cart {
					width: 100px;
					height: 100px;
				}
		
			#prices-cart {
				margin-left: 20px;
				margin-right: 20px;
				width: 300px;
			}	
			
				#PAP-cart {
					width: 70px;
					margin-top: 20px;
					font-size: 12px;
				}
				#PAP-blue-orange-before-cart, #PAP-beach-houses-before-cart, #PAP-colour-glass-before-cart,
				#PAP-layers-before-cart, #PAP-succinct-drop-before-cart, #PAP-paint-rain-before-cart {
					margin-top: -8px;
					font-size: 12px;
				}
				#priceline-cart {
				  margin-top: -2px;
				  width: 100%;
				}	
				#yourprice-cart {
					margin-top: 10px;
					font-size: 13px;
				}
				#price-blue-orange-before-cart, #price-beach-houses-before-cart, #price-colour-glass-before-cart,
				#price-layers-before-cart, #price-succinct-drop-before-cart, #price-paint-rain-before-cart {
					margin-top: -10px;
					font-size: 13px;
					margin-bottom: 20px;	
				}	
				#remove-cart {
					display: inline-block;
					  padding-top: 6px;
					  padding-bottom: 3px;
					  border-radius: 7px;
					  padding-right: 6px;
					  padding-left: 6px;	  
					  width: 30px;
					  height: 30px;
					}	  	
						
					#del-cart{
						height: 15px;
					}			
		
				  				  
}					
		
				
				
				
				
				
				
				
				
				
					
				
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
@media screen and (max-width: 700px) {
	#cart-wrapper {
	    -webkit-text-size-adjust: none;
	  }  		
		  #container-cart {
		    width: 400px;
		  }  
		  
		#profileline-cart {
		  width: 300px;
		}	
		
			
			#blue-orange-cart, #beach-houses-cart, #colour-glass-cart,
			#layers-cart, #succinct-drop-cart, #paint-rain-cart{
				width: 300px;
				}
			    		  
}