body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding-top: 0px;
  padding-bottom: 30px;
  background: white;
}

	#header {
			display: flex;
			justify-content: center;
			margin-top: 0px;
			align-items: center;
			position: fixed;
			padding-top: 30px;
			background: none;
			width: 100%;
			height: 50px;
			margin-left: auto;
			margin-right: auto;
			z-index: 100;
		}
		#icon-link{
			display: inline-block;
			text-decoration: none;
			margin-right: 128px;
			  text-decoration: none;
			  padding-top: 13px;
			  padding-bottom: 10px;
			  padding-right: 8px;
			  padding-left: 8px;	  	  
			  border: solid;
			  border-color: rgba(215, 215, 215, 0.7);
			  border-radius: 15px;
			  border-width: 1px;
			  width: 43px;
			  opacity: 1;
				background: rgba(255, 255, 255, 0.8);						
		}
		#icon-link:hover,
		#icon-link:focus {
			  transition: 1s;
			  cursor: pointer;
			  border-color: gray;
			  opacity: 1;
			}		
			#arells-icon {
				height: 16px;
			}	
		#cart-link{
			text-decoration: none;
			margin-left: 124px;
			  text-decoration: none;
			  padding-top: 12px;
			  padding-bottom: 9px;
			  padding-right: 10px;
			  padding-left: 10px;	  
			  border: solid;
			  width: 60px;
			  border-color: rgba(215, 215, 215, 0.7);
			  border-radius: 15px;
			  border-width: 1px;
			  opacity: 1;
				background: rgba(255, 255, 255, 0.8);						
		}
		#cart-link-connected{
			text-decoration: none;
			margin-left: 124px;
			  text-decoration: none;
			  padding-top: 12px;
			  padding-bottom: 9px;
			  padding-right: 10px;
			  padding-left: 10px;	  
			  border: solid;
			  width: 38px;
			  border-color: rgba(215, 215, 215, 0.7);
			  border-radius: 15px;
			  border-width: 1px;
			  opacity: 1;
				background: rgba(255, 255, 255, 0.8);						
		}
		#cart-link:hover,
		#cart-link:focus, 
		#cart-link-connected:hover,
		#cart-link-connected:focus {
			  transition: 1s;
			  cursor: pointer;
			  border-color: gray;
			  opacity: 1;	
		}	
			#cart-icon {
				height: 18px;
			}		
			
		#word-logo {
			margin-top: 37px;
			width: 110px;	
		}
		#slogan {
			margin-top: 0px;
			font-size: 8px;
			letter-spacing: 10px;
			margin-left: 10px; 
			font-weight: 600;
			color: gray;
			opacity: 1;
			word-spacing: -3px;
		}	
		
		#wallet-connected-div{
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
		}
			#connected-line {
			  margin-top: -5px;
			  background-color: black;
			  border: none;
			  height: 4px;
			  border-radius: 30px;
			  width: 100px;
			  opacity: .1;
			}	
			#wallet-connected {
				padding-bottom: 10px;
				padding-top: 5px;
				font-size: 9px;
				letter-spacing: 0px;
				margin-left: 0px; 
				font-weight: 800;
				color: gray;
				opacity: 1;
			}							

					
				
		
	#colour-glass {	
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 15px;
		align-items: center;
		overflow: hidden;
		box-shadow: 0px 5px 20px -6px silver; 
		width: 400px;
		height: 100%;
		padding-top: 50px;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;			
		text-decoration: none;
		background: white;
	}
				
		#photo-link {
				text-decoration: none; 
			}
		#photo {
			object-fit: cover;
			width: 400px;
			height: 400px;
			border:solid;
			border-width: 1px;
			border-color: silver;		
		}
				#photo-link:hover {
				  opacity: .5;
				  transition: 1s;
				  box-shadow: none;
				  cursor: pointer;
				}
				#photo-link:focus {
				  opacity: .5;
				  box-shadow: none;
				  cursor: pointer;
			}
			
		#name {
		  font-size: 17pt;
		  font-weight: 800;
		  opacity: 1;
		  color: black;	
		  margin-top: 25px;
		  letter-spacing: -1px;	  
		  margin-left: -1px;
		  margin-bottom: 25px;
		}
		#copy-link {
		  text-decoration: none;
		  color: white;
		  font-weight: 200;
		  font-size: 10px;
		  padding-top: 15px;
		  padding-bottom: 15px;
		  padding-right: 15px;
		  padding-left: 15px;	  
		  border: none;
		  letter-spacing: 2px;
		  border-radius: 5px;
		  border-width: 0px;
		  width: 145px;
		  opacity: 1;
		  box-shadow: 0px 8px 12px -6px black;  
			background: black;
			margin-bottom: 15px;
		}	  
		#copy-link:hover,
		#copy-link:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
		}		
			#copy-link-icon{
				width: 15px;
				margin-right: 5px;
			}				
		
		#creator-owner-desc {
		margin-top: 15px;
		text-align: center;
			color: black;
			font-weight: 300;
			font-size: 12px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .4;
			margin-bottom: 0px;
		}
		#creator-owner-link {
		text-align: center;
			color: #4d85cf;
			font-weight: 300;
			font-size: 15px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .8;
			text-decoration: none;
		}
			#creator-owner-desc:hover,
			#creator-owner-link:hover,
			#creator-owner-desc:focus,
			#creator-owner-link:focus {
				  opacity: .4;
				  transition: 1s;
				  cursor: pointer;
			}
			
		#line {
		  margin-top: 30px;
		  background-color: black;
		  border: none;
		  height: 4px;
		  border-radius: 30px;
		  width: 60%;
		  opacity: .1;
		}					
				
		#PAP {
		margin-top: 15px;
		text-align: center;
			color: black;
			font-weight: 300;
			font-size: 12px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .4;
		}
		#PAP-colour-glass-before,
		#PAP-colour-glass-after {
		margin-top: -7px;
		text-align: center;
			color: black;
			font-weight: 300;
			font-size: 17px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .5;
		}
		#priceline {
		  margin-top: -5px;
		  background-color: black;
		  border: none;
		  height: 4px;
		  border-radius: 30px;
		  width: 60%;
		  opacity: .1;
		}	
		#yourprice {
		margin-top: 30px;
		text-align: center;
			color: black;
			font-weight: 300;
			font-size: 15px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .4;
		}
		#price-colour-glass-before,
		#price-colour-glass-after {
		margin-top: -10px;
		text-align: center;
			color: black;
			font-weight: 300;
			font-size: 20px;
			letter-spacing: 0px;
			padding-left: 0px;
			opacity: .7;
			margin-bottom: 28px;
		}
	    #colour-glass-add-to-cart, 
		#colour-glass-add-to-cart-connected  {
			  text-decoration: none;
			  color: white;
			  margin-left: auto;
			  margin-right: auto;
			  font-weight: 200;
			  font-size: 11px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 22px;
			  padding-left: 25px;	  
			  border: none;
			  letter-spacing: 3px;
			  border-radius: 5px;
			  border-width: 0px;
			  width: 170px;
			  opacity: 1;
			  box-shadow: 0px 8px 12px -6px black;  
				background: black;
			}	  
		#colour-glass-add-to-cart:hover, 
		#colour-glass-add-to-cart-connected:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
		} 
		#colour-glass-added {
			  text-decoration: none;
			  margin-left: auto;
			  margin-right: auto;
			  color: white;
			  font-weight: 200;
			  font-size: 11px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 22px;
			  padding-left: 25px;	  
			  border: none;
			  letter-spacing: 3px;
			  border-radius: 5px;
			  border-width: 0px;
			  width: 170px;
			  opacity: 1; 
				background: silver;
			}	
		#colour-glass-collected {
			  text-decoration: none;
			  margin-left: auto;
			  margin-right: auto;
			  color: white;
			  font-weight: 200;
			  font-size: 11px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 22px;
			  padding-left: 25px;	  
			  border: none;
			  letter-spacing: 3px;
			  border-radius: 5px;
			  border-width: 0px;
			  width: 170px;
			  opacity: 1; 
				background: silver;
			}		
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
@media screen and (max-width: 1000px) {
	  body {
	    -webkit-text-size-adjust: none;
	  }  
		#header {
				margin-top: 0px;
				padding-top: 25px;			
			}	
			#icon-link{	
				margin-right: 90px;
				  padding-top: 10px;
				  padding-bottom: 7px;
				  padding-right: 6px;
				  padding-left: 6px;	
				  border-radius: 12px;
				  width: 30px;		
			}	
			#arells-icon {
					height: 15px;
				}	    
			#cart-link{
				margin-left: 96px;
				  padding-top: 10px;
				  padding-bottom: 7px;
				  padding-right: 8px;
				  padding-left: 8px;	
				  border-radius: 12px;	
				  width: 45px;  					
			}
			#cart-link-connected{
				margin-left: 96px;
				  padding-top: 10px;
				  padding-bottom: 7px;
				  padding-right: 8px;
				  padding-left: 8px;	
				  border-radius: 12px;	
				  width: 27px;  					
			}
			#cart-icon {
					height: 15px;
				}
			
			  				
		#word-logo {
			margin-top: 35px;
			width: 90px;	
		}
		#slogan {
			margin-top: -2px;
			font-size: 7px;
			letter-spacing: 8px;
			margin-left: 8px; 
			word-spacing: -3px;
		}
		#wallet-connected-div{
			margin-top: 25px;
		}	
			#connected-line {
			  width: 90px;
			}				
			#wallet-connected {
				padding-bottom: 12px;
				padding-top: 7px;
				font-size: 8px;
				letter-spacing: 0px;
				margin-left: 0px; 
			}					  
}					
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
@media screen and (max-width: 700px) {
	  body {
	    -webkit-text-size-adjust: none;
	  }  	
	  
	  #colour-glass {
		    width: 300px;
		  }  
		  #photo {
		  	width: 300px;
		  	height: 300px;
		  }
		#name {
		  font-size: 13pt;
		  font-weight: 800;
		  margin-top: 20px;
		  letter-spacing: -1px;	  
		  margin-left: -1px;
		  margin-bottom: 20px;
		}		
		#copy-link {
		  font-size: 8px;
		  padding-top: 15px;
		  padding-bottom: 15px;
		  padding-right: 15px;
		  padding-left: 15px;	  
		  border: none;
		  width: 120px;
		  letter-spacing: 2px;
		  margin-bottom: 10px;
		}	  	
			#copy-link-icon {
				width: 12px;
			}
		#creator-owner-desc {
		margin-top: 15px;
			font-weight: 300;
			font-size: 12px;
			letter-spacing: 0px;
			padding-left: 0px;
			margin-bottom: 0px;
		}
		#creator-owner-link {
		text-align: center;
			font-weight: 300;
			font-size: 13px;
			letter-spacing: 0px;
			padding-left: 0px;

		}			
		#line {
		 margin-top: 20px;
		}			
		#PAP {
		margin-top: 15px;
			font-size: 12px;
		}
		#PAP-colour-glass-before,
		#PAP-colour-glass-after {
		margin-top: -8px;
			font-size: 13px;
		}
		#priceline {
		  margin-top: 0px;
		}	
		#yourprice {
		margin-top: 20px;
			font-size: 13px;
		}
		#price-colour-glass-before,
		#price-colour-glass-after {
		margin-top: -10px;
			font-size: 15px;
			margin-bottom: 20px;	
		}			
		#colour-glass-add-to-cart, 
		#colour-glass-add-to-cart-connected {
			  font-weight: 200;
			  font-size: 9px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 12px;
			  padding-left: 15px;	  
			  border: none;
			  letter-spacing: 1px;
			  width: 120px;
			}	  
		 #colour-glass-added {
			  font-weight: 200;
			  font-size: 9px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 12px;
			  padding-left: 15px;	  
			  border: none;
			  letter-spacing: 1px;
			  width: 120px;
			}	
		#colour-glass-collected {
			  font-weight: 200;
			  font-size: 9px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 12px;
			  padding-left: 15px;	  
			  border: none;
			  letter-spacing: 1px;
			  width: 120px;
			}							
}