body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
	background: linear-gradient(50deg, 
	rgba(255,0,0,1) 15%, 
	rgba(178,179,2,1) 30%, 
	rgba(1,187,1,1) 50%, 
	rgba(33,0,255,1) 70%, 
	rgba(187,1,158,1) 85%);    
     animation: gradients 20s ease infinite; 
     background-size: 20000% 20000%;
}


#overlay {
	padding-top: 80px;
}
@-webkit-keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

	#arells-icon {
		width: 80px;
		opacity: 1;
	}
	#word-logo {
		margin-top: 20px;
		width: 120px;	
	}
	#slogan {
		margin-top: 30px;
		font-size: 11px;
		letter-spacing: 1px;
		margin-left: 1px; 
		font-weight: 700;
		color: white;
		opacity: 1;
		padding-bottom: 10px;
	}
	
	#white-line {
	  margin-top: 30px;
	  background-color: white;
	  border: none;
	  height: 1px;
	  border-radius: 30px;
	  width: 330px;
	  opacity: 1;
	}	
	
	#description {
		margin-top: 30px;
		font-size: 11px;
		letter-spacing: 4px;
		margin-left: 4px;
		font-weight: 800;
		opacity: 1;
		color: white;
	}	
	#coming-soon {
		margin-top: 40px;
		font-size: 12px;
		margin-left: 15px;
		letter-spacing: 15px;
		font-weight: 300;
		color: white;
		margin-bottom: 60px;
		opacity: 1;
	}
	
	#updates {
	  background: black;
	  text-decoration: none;
	  color: white;
	  font-weight: 200;
	  font-size: 11px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  padding-right: 52px;
	  padding-left: 55px;	  
	  border: none;
	  letter-spacing: 3px;
	  border-radius: 0px;
	  border-width: 1px;
	  width: 200px;
	  opacity: 1;
	  box-shadow: 0px 8px 12px -6px black;  
	}
	#updates:hover,
	#updates:focus {
	  opacity: .4;
	  transition: 1s;
	  cursor: pointer;
	}
	
#footer {
	padding-top: 80px;
	padding-bottom: 80px;	
}	
	
	#contact {
		opacity: .7;
	}
	#contact:hover,
	#contact:focus {
		  opacity: .4;
		  transition: 1s;
		  cursor: pointer;
	}
	#twitter {
		width: 30px;
	}		
	
	
@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }  
	#arells-icon {
		width: 65px;
	}

	#word-logo {
		width: 110px;	
	}  
  	#slogan {
		font-size: 9px;
		font-weight: 700;
		letter-spacing: .5px;
		margin-right: .5px;
	}
	#white-line {
	  height: 1px;	
	  margin-top: 30px;
	  width: 230px;
	}	
	
	#description {
		font-size: 9px;
		letter-spacing: 2px;
		margin-left: 2px;
	}		
	#coming-soon {
		font-size: 9px;
		margin-left: 11px;
		letter-spacing: 11px;	
	}
	#updates {
	  font-weight:400;
	  font-size: 9px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  padding-right: 32px;
	  padding-left: 35px;
	  border-width: 1px;	    
	}		

	#twitter {
		width: 27px;
	}	
	
}	

