body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
/* 	background: linear-gradient(50deg, 
	rgba(255,0,0,1) 15%, 
	rgba(178,179,2,1) 30%, 
	rgba(1,187,1,1) 50%, 
	rgba(33,0,255,1) 70%, 
	rgba(187,1,158,1) 85%);    
     animation: gradients 20s ease infinite; 
     background-size: 20000% 20000%; */
     background: white;
}


#overlayy {
	padding-top: 80px;
}
@-webkit-keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

	#arells-iconn {
		width: 80px;
		opacity: 1;
	}
	#word-logoo {
		margin-top: 20px;
		width: 120px;	
	}
	#slogann {
		margin-top: 35px;
		font-size: 14px;
		letter-spacing: 13px;
		margin-left: 13px; 
		font-weight: 800;
		color: black;
		opacity: .5;
		padding-bottom: 10px;
	}
	
	#black-liner {
	  margin-top: 30px;
	  background-color: black;
	  border: none;
	  height: 1px;
	  border-radius: 30px;
	  width: 255px;
	  opacity: .3;
	}	
	
	#descriptioner {
		margin-top: 30px;
		font-size: 9px;
		letter-spacing: 1px;
		margin-left: 1px;
		font-weight: 600;
		opacity: .5;
		color: black;
	}	
	#coming-soonn {
		margin-top: 40px;
		font-size: 11px;
		margin-left: 15px;
		letter-spacing: 15px;
		font-weight: 800;
		color: black;
		margin-bottom: 60px;
		opacity: .5;
	}
	
	#updatess {
	  background: black;
	  text-decoration: none;
	  color: white;
	  font-weight: 200;
	  font-size: 11px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  padding-right: 52px;
	  padding-left: 55px;	  
	  border: none;
	  letter-spacing: 3px;
	  border-radius: 5px;
	  border-width: 0px;
	  width: 200px;
	  opacity: 1;
	  box-shadow: 0px 8px 12px -6px black;  
	}
	#updatess:hover,
	#updatess:focus {
	  opacity: .4;
	  transition: 1s;
	  cursor: pointer;
	}
	
#footerr {
	padding-top: 80px;
	padding-bottom: 80px;	
}	
	
	#contactt {
		opacity: .4;
	}
	#contactt:hover,
	#contactt:focus {
		  opacity: .2;
		  transition: 1s;
		  cursor: pointer;
	}
	#twitterr {
		width: 30px;
	}		
	
	
@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }  
	#arells-iconn {
		width: 65px;
	}

	#word-logoo {
		width: 110px;	
	}  
  	#slogann {
		font-size: 12px;
		letter-spacing: 10px;
		margin-left: 10px;
	}
	#black-liner {
	  margin-top: 30px;
	  width: 205px;
	}	
	
	#descriptioner {
		font-size: 7px;
		letter-spacing: 1px;
		margin-left: 1px;
	}		
	#coming-soonn {
		font-size: 9px;
		margin-left: 11px;
		letter-spacing: 11px;	
	}
	#updatess {
	  font-weight:400;
	  font-size: 9px;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  padding-right: 32px;
	  padding-left: 35px;
	  border-width: 1px;	    
	}		

	#twitterr {
		width: 27px;
	}	
	
}	


