body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding-bottom: 30px;
  background: white;
}

	#connect-wallet {
		  margin-top: 90px;
		  text-decoration: none;
		  color: white;
		  font-weight: 200;
		  font-size: 11px;
		  padding-top: 20px;
		  padding-bottom: 20px;
		  padding-right: 52px;
		  padding-left: 55px;	  
		  border: none;
		  letter-spacing: 3px;
		  border-radius: 5px;
		  border-width: 0px;
		  width: 200px;
		  opacity: 1;
		  box-shadow: 0px 8px 12px -6px black;  
			background: linear-gradient(50deg, 
			rgba(255,0,0,1) 15%, 
			rgba(178,179,2,1) 30%, 
			rgba(1,187,1,1) 50%, 
			rgba(33,0,255,1) 70%, 
			rgba(187,1,158,1) 85%);    
		     animation: gradients 20s ease infinite; 
		     background-size: 20000% 20000%;
		}
		@-webkit-keyframes gradients{
		  0% {
		    background-position: 0 50%;
		  }
		  50% {
		    background-position: 100% 50%;
		  }
		  100% {
		     background-position: 0% 50%;
		  }
		}
		@keyframes gradients{
		  0% {
		    background-position: 0 50%;
		  }
		  50% {
		    background-position: 100% 50%;
		  }
		  100% {
		     background-position: 0% 50%;
		  }
		}		  
	}
	#connect-wallet:hover,
	#connect-wallet:focus {
		  opacity: .4;
		  transition: 1s;
		  cursor: pointer;
	}
	#header{
	position: absolute;
		margin-top: 50px;
		box-shadow: 0px 5px 12px -6px black; 
		height: 130px;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	  	border-radius: 15px;		
		background-color: black; 
		z-index: 1;
	}
		#banner {
			object-fit: cover;
			overflow: hidden;
			width: 100%;
		}		
	
	#profile-img-container {
	position: absolute;
		width: 100px;
		height: 100px;
		border-radius: 15px;
		margin-left: auto;
  		margin-right: auto;
  		display: flex;
  		background-color: white;
  		overflow: hidden;
  		align-items: center;
  		justify-content: center;
  		box-shadow: 0px 5px 12px -6px black; 
  		z-index: 2;
		
	}
		#profile-photo {
			object-fit: cover;
			overflow: hidden;
			width: 100%;
		}		

	#container {
		padding: 30px;
		margin-top: 50px;
		width: 600px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: auto;
  		margin-right: auto;
	}
	
		#row {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			margin-bottom: 50px;
		}
		
		#col {
			flex: 1;
			margin: 10px;
			background-color: silver;
			border-radius: 15px;
			align-items: center;
			 overflow: hidden;
			box-shadow: 0px 5px 12px -6px black; 
			width: 200px;
			height: 150px;
			padding: 30px;
			background: #0098bf;
			background: linear-gradient(50deg, 
			rgba(255,0,0,1) 15%, 
			rgba(178,179,2,1) 30%, 
			rgba(1,187,1,1) 50%, 
			rgba(33,0,255,1) 70%, 
			rgba(187,1,158,1) 85%);    
		     animation: gradients 20s ease infinite; 
		     background-size: 20000% 20000%;
		}
		
		#photo {
			object-fit: cover;
			width: 100%;
  			box-shadow: 0px 10px 30px -20px black;	
  			border-radius: 15px;		
		}
	
	
@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }  
}	