body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  background: white;
}

#wrapper {
	padding-top: 50px;
	padding-bottom: 20px;
  	height: 550px;
  	width: 100%;
	background: linear-gradient(90deg, 
	rgba(255,0,0,1) 0%, 
	rgba(178,179,2,1) 25%, 
	rgba(1,187,1,1) 50%, 
	rgba(33,0,255,1) 75%, 
	rgba(187,1,158,1) 100%);    
     animation: gradients 20s ease infinite; 
     background-size: 10000% 10000%;
  	box-shadow: 0px 4px 12px -6px black;           

}
@-webkit-keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

	#arells-icon{
		margin-left: auto;	
		margin-right: auto;	
		margin-top: 40px;
		width: 40px;
		opacity: .7;
	}
	
	#slogan {
		color: white;
		margin-left: auto;	
		margin-right: auto;	
		margin-top: 20px;
		font-weight: 600;	
		font-size: 17px;
		letter-spacing: 3px;
		margin-left: 3px;
		opacity: .9;					
	}
	#desc {
		color: white;
		margin-left: auto;	
		margin-right: auto;	
		margin-top: 15px;	
		font-weight: 800;	
		font-size: 12px;
		letter-spacing: 0px;
		margin-left: 0px;
		opacity: .7;				
	}	


	#sign-up {
		color: white;
		width: 100%;
		height: 270px;
		padding-top: 40px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
		background: linear-gradient(90deg, 
		rgba(255,0,0,1) 0%, 
		rgba(178,179,2,1) 25%, 
		rgba(1,187,1,1) 50%, 
		rgba(33,0,255,1) 75%, 
		rgba(187,1,158,1) 100%);    
	     animation: gradients 20s ease infinite; 
	     background-size: 4500% 4500%;
  		box-shadow: 0px 5px 20px -15px black;     	
	}
		#label{
			font-weight: 800;
			font-size: 15px;
			letter-spacing: 1px;
		}
		
	#footer {
		padding-top: 40px;
		padding-bottom: 40px;	
	}		

		#contact {
			opacity: .7;
		}
		#contact:hover,
		#contact:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
		}
		#twitter {
			width: 30px;
		}	



@media screen and (max-width: 650px){


	#twitter {
		width: 27px;
	}	
		
}