 /* modal.css source */
/* The Modal (background) */

#selling-failed-wrapper {
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 190px; /* Location of the box */
    text-align: center;
      font-family: Arial;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(181, 134, 73, 0.9);
  }
  
  
  @media screen and (max-height: 550px) {
    #selling-failed-wrapper {
      padding-top: 30px; 
    }
  }
  
  /* Modal Content */
  
  #selling-failed-content {
    padding-top: 40px;
    width: 250px;
    height: 200px;
    background-color: rgba(180, 134, 73, 0.9); 
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.00s;
    animation-name: animatetop;
    animation-duration: 1.00s;
    box-shadow: rgba(69, 51, 27, 1);
    margin-bottom: 50px;
  }

  #selling-content {
    padding-top: 55px;
    width: 230px;
    height: 135px;
    background-color: rgba(180, 134, 73, 0.9); 
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.00s;
    animation-name: animatetop;
    animation-duration: 1.00s;
    box-shadow: rgba(69, 51, 27, 1);
    margin-bottom: 50px;
  }
  
  
  #selling-image{
    margin-top: 16.5px;
    opacity: .65;
  }
  
      #selling-words {
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 11px;
        margin-top: 25px;
        margin-bottom: 30px;
        letter-spacing: 0px;
        margin-left: 0px; 
        opacity: .6;
      }
      #selling-failed-words {
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 11px;
        margin-top: 15px;
        margin-bottom: 30px;
        letter-spacing: 0px;
        margin-left: 0px; 
        opacity: .65;
      }
  
  
  
  
  #selling-failed-close {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;   
    border: none;
    border-width: 2px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 10px;
    padding: 15.5px;
    letter-spacing: 1px;
    width: 80px; 
    box-shadow: 0px 8px 12px -6px rgb(0, 0, 0);  
  }
  
  #selling-failed-close:hover,
  #selling-failed-close:focus {
    cursor: pointer;
    opacity: .4;
    transition: 1s;
    
  }