#b-logo-home{
    margin-top: 55px;
    margin-left: 0px;
    display: flex;
    justify-content: left; 
    align-items: left;
    margin-bottom: 20px;
}

    #arells-b-home{
        margin-left: 1.5px;
        width: 30px;
        height: 30px;

    }

    #ethereum-b-home{
        margin-left: 7px;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        box-shadow: 0px 2px 10px 0px rgb(198, 112, 0, 0.7); 

    }
    #ethereum-b-home-account{
        margin-left: -1.5px;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        box-shadow: 0px 2px 10px 0px rgb(198, 112, 0, 0.0); 
    }

    #profits-icon-home {
        opacity: .1;
        margin-top: 24px;
        margin-left: -330px;
    }
    #profits-icon-home-account {
        opacity: .1;
        margin-top: 24px;
        margin-left: -270px;
    }
    #plus-home {
        opacity: .4;
        margin-left: 0px;
        margin-right: 1px;
    }
    #percentage-home {
        opacity: .55;
        margin-left: 3px;
    }

    #spacer-if-error {
        margin-top: 0px;
        height: 17px;
    }

    



@media screen and (max-width: 650px) {
    #profits-icon-home {
       margin-left: -250px;
    }
}