

#how-it-works-wrapper {
	padding-top: 20px; 
	text-align: center;
	font-family: Arial;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	padding-bottom: 20px;
	   background-color: rgb(188, 147, 93);	
	}   


	#word-logo-how {
		width: 60px;
		height: 19px;
		opacity: .6;
	}
	#black-liner-how {
		margin-top: 5px;
		background-color: rgba(255, 255, 255);
		border: none;
		height: 1px;
		border-radius: 30px;
		width: 370px;
		opacity: .4;
	  }	

	  #descriptioner-how {
		color: white;
		font-weight: 200;
		opacity: .8;
		margin-left: 3px;
		font-size: 9px; 
		letter-spacing: 2px;
	}	
	#how-it-works-words {
		margin-top: 5px;
		color: white;
		font-weight: 600;
		opacity: .6;
		font-size: 18px; 
		letter-spacing: -1px;
	}



@media screen and (max-width: 650px){


	#email-input::placeholder { 
		color: white;
		font-size: 14px; 
		}
		   

}
