

/*
@-webkit-keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradients{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }
} */

#how-it-works-wrapper {
	padding-top: 20px; 
	text-align: center;
	font-family: Arial;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
  /* 	background: linear-gradient(90deg, 
	  rgba(255,0,0,1) 0%, 
	  rgba(178,179,2,1) 25%, 
	  rgba(1,187,1,1) 50%, 
	  rgba(33,0,255,1) 75%, 
	  rgba(187,1,158,1) 100%);    
	   animation: gradients 20s ease infinite; 
	   background-size: 10000% 10000%;     */
	   background-color: white;	
	}   


	#stay-updated {
		margin-top: 10px;
		color: rgb(115, 65, 0); 
		margin-left: auto;	
		margin-right: auto;	
		font-weight: 600;	
		font-size: 10px;
		margin-left: 3px;
		letter-spacing: 3px;
		word-spacing: 2px;
		opacity: .6;			
	}		

	
	#sign-up {
		color: rgb(115, 65, 0); 
		width: 450px;
		height: 230px;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		background: none;
		border-radius: 5px;
		box-shadow: 0px 5px 50px -6px rgba(204, 116, 0, 0.25); 		  	
	}

		#enter-content {
			margin-top: 20px;
		}
		#label{
			font-weight: 600;
			font-size: 9px;
			letter-spacing: 1px;
			margin-left: 1px;
			opacity: .4;
		}
       	   #email-input,
		   #first-input,
		   #last-input { 
       	   	    text-align: center;
       	   		margin-top: 0px;     	   
       	   		padding-top: 20px;
       	   		padding-bottom: 20px;
       	   		padding-left: 21px;
       	   		padding-right: 19px;       	   		
       	   		color: white;
       	   		font-weight: 800;
       	   		border: none;
       	   		border-radius: 5px;
       	   		font-size: 15px;
       	   		width: 280px;
       	   		height: 15px;
				letter-spacing: 1px;    	   		
				background: rgb(192, 133, 57);
       	   		opacity: .4;
				margin-bottom: 30px;  
       	   }
			  #email-input::placeholder { 
				color: white; /* Change the placeholder text color */
				font-size: 15px; /* Change the font size */
				 }
 	   
			  #email-input:focus,
			  #first-input:focus,
			  #last-input:focus {
			    cursor: pointer;
			    outline: none;
			    transition: 1s;
       	   		opacity: 1;			    
			  }       	   
		  .form-control:focus{
		       border-width: 7px;
               -webkit-box-shadow: none !important;
               -moz-box-shadow: none !important;
               box-shadow: none !important;
           }  
           #last-input{
			  margin-bottom: 35px;           
           }     	   
			#submit {
				margin-top: 50px;
			  background: rgba(204, 116, 0);
			  text-decoration: none;
			  color: white;
			  font-weight: 500;
			  font-size: 12px;
			  padding-top: 20px;
			  padding-bottom: 20px;
			  padding-right: 32px;
			  padding-left: 34px;	  
			  border: solid;
			  letter-spacing: 2px;
			  border-radius: 5px;
			  border-width: 0px;
			  width: 200px;
			  opacity: 1;
			  box-shadow: 0px 8px 12px -6px rgba(204, 116, 0);  			  
			}
			#submit:hover,
			#submit:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
			}      	   
		
	#footer {
		padding-top: 50px;
		padding-bottom: 40px;	
	}		

		#contact {
			opacity: .4;
		}
		#contact:hover,
		#contact:focus {
			  opacity: .4;
			  transition: 1s;
			  cursor: pointer;
		}
		#twitter {
			width: 30px;
			height: 30px;
		}	



@media screen and (max-width: 650px){

	#stay-updated {
		font-size: 8px;		
	}	

	#sign-up {
		width: 350px;
		height:	220px;		  	
	}	
	#label{
		font-size: 7px;
	}
	#email-input,
	#first-input,
	#last-input {    	   
		
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 21px;
			padding-right: 19px; 
			font-size: 14px;     	   		
			width: 200px;
			height: 15px; 	
			margin-bottom: 25px;   		
       	   }
			  #email-input::placeholder { 
				color: white; /* Change the placeholder text color */
				font-size: 14px; /* Change the font size */
				 }
		   
		#submit {
			font-size: 11px; 			  
			}


	#twitter {
		width: 27px;
		height: 27px;
	}
}
