

#how-it-works-wrapper {
	padding-top: 30px; 
	text-align: center;
	font-family: Arial;
	margin-top: -4px;
	margin-left: -4px;
	margin-right: -4px;
	margin-bottom: -4px;
	border-radius: 5px;
	padding-bottom: 20px;
	   background-color: rgb(184, 138, 79);
	   box-shadow: 0px 5px 50px -6px rgba(127, 72, 0); 	
	}   


	#word-logo-how {
		width: 60px;
		height: 19px;
		opacity: .6;
	}
	#black-liner-how {
		margin-top: 5px;
		background-color: rgba(255, 255, 255);
		border: none;
		height: 1px;
		border-radius: 30px;
		width: 420px;
		opacity: .4;
	  }	

	  #descriptioner-how {
		color: white;
		font-weight: 200;
		opacity: .8;
		margin-left: 4px;
		font-size: 9px; 
		letter-spacing: 1px;
	}	
	#descriptioner-how-crypto {
		margin-left: 1px;
		font-weight: 800;
		letter-spacing: 3px;
	}	
	#how-it-works-words {
		margin-top: 20px;
		color: white;
		font-weight: 600;
		opacity: .9;
		font-size: 18px; 
		letter-spacing: -1px;
	}

	#how-it-works-guide-wrapper {
		padding: 20px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		height: 800px;
		width: 380px;
		background-color: rgb(255, 255, 255, 0.8);
		border-radius: 10px;
		box-shadow: 0px 5px 50px -6px rgba(127, 72, 0); 
	}

		#transfer-buy-how {
			margin-top: 10px;
			padding: 20px;
			margin-left: auto;
			margin-right: auto;
			height: 150px;
			width: 250px;
			background-color: rgb(255, 255, 255, 0.4);
			border-radius: 10px;
			box-shadow: 0px 5px 30px -6px rgb(127, 72, 0); 
		}



@media screen and (max-width: 650px){


	#email-input::placeholder { 
		color: white;
		font-size: 14px; 
		}
		   

}
